body { padding: 0; margin: 0; }
a:hover, a:focus, a:focus-visible{ text-decoration:unset; outline:unset; }

/* header css start */
.tjc-rideshare-header-wapper { background-color: #0A1C87; position: relative; }
.tjc-rideshare-header-logo { padding: 14px 0; position: relative; }
.tjc-rideshare-header-logo img { max-width: 195.59px; max-width:unset; height: 68px; object-fit:contain; width: 100%; margin: auto;  }
/* header css end */

/* banner css start */
.tjc-rl-banner-wapper { position: relative; background: rgba(66, 106, 228, 0.1); padding: 48px 0 76px; margin-bottom:40px; }
.tjc-rl-banner-text span {
    display: block;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 23.44px;
    letter-spacing: 0.5px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-bottom: 48px;
    color: #426AE4;
}
.tjc-rl-banner-text h1 {
    margin: 0;
    font-family: Roboto;
    font-size: 52px;
    font-weight: 800;
    line-height: 60.94px;
    letter-spacing: 0.5px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #426AE4;
    padding-bottom: 8px;
}
.tjc-rl-banner-text h4 {
    margin: 0;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 400;
    line-height: 42.19px;
    letter-spacing: 0.5px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #4D4D4D;
    padding-bottom: 48px;
}
.tjc-rl-banner-text p {
    margin: 0;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.44px;
    letter-spacing: 0.5px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #4D4D4D;
    margin-bottom: 48px;
}
.tjc-rl-banner-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FC9E11;
    max-width: 432px;
    width: 100%;
    height: 56px;
    border-radius: 100px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 23.44px;
    letter-spacing: 0.5px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #fff;
    margin: auto;
}
.tjc-rl-banner-link:hover { color:#fff; }
/* banner css end */

/* section b css start */
.tjc-rl-sect-b-wapper { position:relative; }
.tjc-rl-sect-b-title { margin-bottom:40px; position:relative; }
.tjc-rl-sect-b-title h2 { 
    font-family: Roboto;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #4D4D4D;
    margin: 0;
    margin-bottom: 16px;
}
.tjc-rl-sect-b-title p {
    margin: 0;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #4D4D4D;
}
.tjc-rl-sect-b-card {
    padding:32px 10px 40px;
    position: relative;
    background-color: #fff;
    border: 1px solid rgba(37, 99, 235, 0.2);
    border-radius: 10px;
    height: 100%;
}
.tjc-rl-sect-b-icon {
    max-width: 64px;
    width: 100%;
    height: 64px;
    background-color: #426AE4;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 24px;
}
.tjc-rl-sect-b-icon img { width:32px; height:32px; max-width:unset; object-fit:contain; }
.tjc-rl-sect-b-card h3 {
    margin: 0;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #4D4D4D;
    padding-bottom: 8px;
}
.tjc-rl-sect-b-card p {
    margin: 0;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #4D4D4D;
}
.tjc-rl-sect-b-bottom-text { position:relative; margin-top:56px; }
.tjc-rl-sect-b-bottom-text p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #4D4D4D;
}
.tjc-rl-sect-b-bottom-text p:last-child { margin:0; }
/* section b css end */

/* form css start */
.tjc-rl-form-wapper { position: relative; margin-top:40px; }
.tjc-rl-form-card-wapper { border-radius: 10px; padding: 32px 0 60px; background-color: rgba(37, 99, 235, 0.2); position: relative; }
.tjc-rl-form-title { margin-bottom:32px; }
.tjc-rl-form-title h2 {
    margin: 0;
    font-family: Roboto;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #2563EB;
}
.tjc-rl-form-bottom-text { position:relative; margin-top:24px; }
.tjc-rl-form-bottom-text p {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #4B4B4B;
    margin: 0;
}
.tjc-rl-form-bottom-text p a { color:#2563EB; }
/* form css end */

/* section c img css start */
.tjc-rl-sect-c-wapper { position: relative; padding: 40px 0 48px; }
.tjc-rl-sect-c-img { max-width:100%; height:384px; width:100% }
.tjc-rl-sect-c-img img { width:100%; height:100%; max-width:unset; object-fit:cover; }
/* section c img css end */

/* section d css start */
.tjc-rl-sect-d-wapper { position:relative; margin-bottom:56px; }
.tjc-rl-sect-d-title { position:relative; margin-bottom:24px; }
.tjc-rl-sect-d-title h2 {
    margin: 0;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #4D4D4D;
}
.tjc-rl-sect-d-wapper .row { align-items:center; }
.tjc-rl-sect-d-main-wapper {
    border: 1px solid rgba(37, 99, 235, 0.2);
    position: relative;
    padding: 20px 40px;
    border-radius:10px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.tjc-rl-sect-d-card { display:flex; align-items:center; gap:24px; flex-flow:row;  }
.tjc-rl-sect-d-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80px;
    width: 100%;
    height: 80px;
    border-radius: 100%;
    background-color: #FC9E11;
}
.tjc-rl-sect-d-icon img { width: 43px; height: 41px; max-width: unset; object-fit: contain; }
.tjc-rl-sect-d-text p {
    margin: 0;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #4D4D4D;
}
.tjc-rl-sect-d-main-text p {
    margin: 0;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #4D4D4D;
    margin-bottom: 20px;
}
.tjc-rl-sect-d-main-text p:last-child { margin:0; }
.tjc-rl-sect-d-main-text p a { color:#2563EB; font-weight:700; }
.tjc-rl-sect-d-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 368px;
    width: 100%;
    height: 56px;
    border-radius: 100px;
    background: #2563EB;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #fff;
    margin-top: 40px;
}
.tjc-rl-sect-d-link:hover { color:#fff; }
/* section d css end */

/* section e css start */
.tjc-rl-sect-e-wapper { position:relative; background:#0A1C87; padding:40px 0 51px; }
.tjc-rl-sect-e-title { max-width:956px; width:100%; margin:auto; margin-bottom:48px; }
.tjc-rl-sect-e-title h2 {
    margin: 0;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.tjc-rl-sect-e-title p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
    margin: 0;
}
.tjc-rl-sect-e-card {
    padding:32px 24px;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    height: 100%;
}
.tjc-rl-sect-e-card h3 {
    margin: 0;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #2563EB;
    margin-bottom: 16px;
}
.tjc-rl-sect-e-card p {
    margin: 0;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #4D4D4D;
}
.tjc-rl-sect-e-card ul { padding:0; margin:0; margin-top:24px; display:flex; flex-direction:column; gap:4px; }
.tjc-rl-sect-e-card ul li {
    list-style-type: none;
    padding-left: 20px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #4D4D4D;
    position: relative;
}
.tjc-rl-sect-e-card ul li:before {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: #4D4D4D;
    left: 0;
    top: 8px;
}
/* section e css end */

/* section f css start */
.tjc-rl-sect-f-wapper 
/* section f css end */



@media(max-width:991px){

}

@media(max-width:767px){

}


@media(min-width:1050px){
    .tjc-rl-sect-d-wapper .container { max-width:976px; width:100%; }
}
@media(min-width:1240px){
    .tjc-rl-banner-wapper .container { max-width:1152px; width:100%; }
    .tjc-rl-sect-b-wapper .container { max-width:1147px; }
    .tjc-rl-form-wapper .container { max-width:1152px; width:100%; }
    .tjc-rl-sect-c-wapper .container { max-width:1152px; width:100%; }
}