body { margin: 0; padding: 0; }

:root {
	--Primary-Color:#0077B6;
	--secondary-color:#4CAF50;
	--accent-color:#FF9800;
	--Text-Color:#333333;
	--background-color:#E9ECEF;
	--Button-color:#E76F51;
	--white-bg-color:#FFFFFF;	
	--text-white:#FFFFFF;
 }


a:hover { text-decoration:none; }
.form-control:focus, button:focus, button:focus-visible, .form-control:focus-visible { outline:unset; box-shadow:unset; }

/* header css start */
.h-home-wapper {  position:relative; }
.h-toggle-btn { display: none; }
.h-header-main { padding: 10px 0;box-shadow: 0px 4px 16px 0px #33333324; background: var(--white-bg-color);}
.h-header-logo>img>a{ width: 100%; max-width: 275px; height: 80px;}
.h-header-nav { display: flex; align-items: center; justify-content: space-between; }
.h-main-menu ul { padding: 0; margin: 0; display: flex; align-items: center; gap: 20px; }
.h-main-menu ul li { list-style-type: none; display: inline-block; margin:0 0 0 0; }
.h-main-menu ul li:last-child { margin-right: 0; }
.h-main-menu ul li a {
	display: block;
	transition: 0.5s all;
	font-family: Montserrat;
	font-weight: 500;
	font-size: 18px;
	line-height: 21.94px;
	letter-spacing: 0%;
    color: var(--Text-Color);
	position: relative;
}
.menu-right-wapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 24px;
}
.m-mobile-card { display: none;}



.h-header-top { background: var(--Primary-Color, #0077B6); padding: 10px 0;}
.h-header-top-row { display: flex; justify-content: space-between;}
.h-header-top-left {display: flex; gap: 16px; align-items: center;}
.h-header-top-left img { width: 24px; height: 24px; object-fit: contain;}
.h-header-top-left>p {
	font-family: Montserrat;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.94px;
    letter-spacing: 0%;
    margin: 0;
	color: var(--text-white);
}
.h-header-top-right>ul {margin: 0; padding: 0; list-style: none; display: flex; gap: 5px; flex-wrap: wrap;}
.h-header-top-right>ul>li>a {
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--Button-color, #E76F51);
	border-radius: 4px;
}
.h-header-top-right>ul>li>a>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 3px;
}
.h-login-sign { display: flex; gap: 20px;}
.h-login-sign>a{
	font-family: Montserrat;
    font-weight: 500;
    font-size: 20px;
    line-height: 24.38px;
    letter-spacing: 0%;
	color: var(--text-white);
	padding: 16px 30px;
	background: var(--Button-color);
	border-radius: 6px;
	display: flex;
	gap: 10px;
	align-items: center;
}
.h-login-sign>a:last-child {
	border: 1px solid var(--Button-color);
	box-shadow: 0px 2.66px 4.53px 0px #00000004;
	background: var(--white-bg-color);
	color: var(--Button-color);
}
.m-login-sign.h-login-sign { display: none;}
.h-cart {
    position: relative; 
    display: inline-block; 
	border: 1px solid var(--Button-color);
	padding: 16px;
	border-radius: 6px;
}

.widget_shopping_cart_content {
    display: none;
    position: absolute;
    width: 100%;
    min-width: 260px;
    top: 102%;
    right: 0;
    left: auto;
    background-color: var(--white-bg-color);
	box-shadow: 0px 0px 14px 0px #3333331F;
    z-index: 1000;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.total-count {
    display: flex;
    justify-content: space-between;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    border-bottom: 1px solid #e7e7e7;
}
.total-count span , .total-count a {
	font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
    margin: 0;
    display: inline-block;
	color: var(--Text-Color);
}
.product_list_widget { margin: 0; padding: 0; list-style: none;}
.product_list_widget li {
	width: 100%;
	font-family: Montserrat;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0%;
    margin: 0;
    display: inline-block;
	text-align: center;
	color: var(--Text-Color);
	padding: 5px 0;
}


.h-cart:hover .widget_shopping_cart_content {
    display: block; 
}
/* header css end */


/* Footer Start */
.footer-wapper {
    background-color: var(--Text-Color);
    padding-top: 197px;
    background-image: url(../img/pattern_bg_3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 116px;
}
.footer-main { padding-bottom: 40px;border-bottom: 1px solid var(--text-white)}
.footer-log img{
	width: 100%;
	max-width: 290px;
	height: 85px;
	margin-bottom: 30px;
}
.footer-media h4{
	font-family: Montserrat;
    font-weight: 600;
    font-size: 26px;
    line-height: 31.69px;
    letter-spacing: 0%;
    color: var(--text-white);
	margin-bottom: 20px;
}
.footer-media>ul { margin: 0; padding: 0; list-style: none; display: flex; gap: 10px;}
.footer-media>ul>li>a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--Button-color, #E76F51);
    border-radius: 4px;
}
.footer-center h4{
	font-family: Montserrat;
    font-weight: 600;
    font-size: 26px;
    line-height: 31.69px;
    letter-spacing: 0%;
    color: var(--text-white);
	margin-bottom: 30px;
}
.footer-center ul { margin: 0; padding: 0; list-style: none; display: flex; flex-direction: column; gap: 14px;}
.footer-center ul li {
	padding-left: 31px;
	font-family: Montserrat;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.94px;
    letter-spacing: 0%;
    color: var(--text-white);
	position: relative;
}
.footer-center ul li::after {
	content: "";
	width: 18px;
	height: 18px;
	background: url(../img/chevron-forward-circle-outline.png) no-repeat center;
	background-size: contain;
	position: absolute;
	left: 0;
	top: 3px;
}
.footer-right h4 {
	font-family: Montserrat;
    font-weight: 600;
    font-size: 26px;
    line-height: 31.69px;
    letter-spacing: 0%;
    color: var(--text-white);
	margin-bottom: 30px;
}
.footer-right ul { margin: 0; padding: 0; list-style: none; display: flex; flex-direction: column; 	gap: 16px;}
.footer-right ul li { display: flex; gap: 16px;}
.footer-right ul li img { width: 22px; height: 20px; object-fit: contain;}
.footer-right ul li span {
	font-family: Montserrat;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.94px;
    letter-spacing: 0%;
    color: var(--text-white);
}
.footer-bottom { padding: 20px 0;}
.footer-bottom p {
	font-family: Montserrat;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.94px;
	text-align: center;
    letter-spacing: 0%;
    color: var(--text-white);
	margin: 0;
}
/* Footer End */ 


/* Footer Newsletter Start */
.footer-newsletter {
    box-shadow: 0px 4px 20px 0px #00000033;
    padding: 50px;
    background: var(--white-bg-color);
    width: 100%;
    max-width: 900px;
    height: 274px;
    margin: auto;
    position: absolute;
    top: -120px;
    left: 23%;
	border-radius: 6px;
}
.footer-newsletter { margin-bottom: 20px;}
.footer-newsletter h2 {
	font-family: Montserrat;
    font-weight: 700;
    font-size: 50px;
    line-height: 60.95px;
	text-align: center;
    letter-spacing: 0%;
    color: var(--Primary-Color);
	margin-bottom: 20px;
}

.footer-newsletter-form { 
	display: flex;
	border: 1px solid var(--Text-Color); 
	margin: 0 50px; 
	padding: 5px 5px 5px 16px; 
	border-radius: 6px;
	height: 100px;
	align-items: center;
} 
.footer-newsletter-form input {
    border: 0;
    width: 100%;
	height: fit-content;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 18px;
    line-height: 38px;
    letter-spacing: 0%;
    color: var(--Text-Color);
}
.footer-newsletter-form a {
	background: var(--Button-color);
    color: var(--text-white);
	font-family: Montserrat;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: 0%;
    border-radius: 6px;
	padding:27px 20px;
	display: flex;
	align-items: center;
}

/* Footer Newsletter End */



@media(max-width:1440px){
	.footer-newsletter { left: 19%;}
}

@media(max-width:1199px){


	/* header start */
	.h-login-sign>a { padding: 16px 10px;;}
	.h-main-menu ul { gap: 10px;}
	.h-login-sign { gap: 10px;}
	.h-main-menu ul li a { font-size: 16px; line-height: 19.94px;}
    .menu-right-wapper { gap: 15px;}


	.footer-newsletter { left: 64px;}
}

@media(max-width:991px){
	/*mobile header start*/
	.h-login-sign { display: none;}
	.m-mobile-card {
        display: flex !important;
        justify-content: space-between;
        align-items: center;
    }
	.m-header-logo>a>img{ width: 100%; max-width:150px ;}
	.h-header-logo { max-width:180px; width:100%; }
	.h-header-logo img {  width:100%; height:auto; object-fit:contain; }
	.h-toggle-btn { display: block; }
	.h-toggle-btn {
		margin-right: 0;
		width: 16px;
		height: 16px;
		position: relative;
		-webkit-transition: .5s ease-in;
		-o-transition: .5s ease-in;
		transition: .5s ease-in;
		cursor: pointer;
	}
	.h-toggle-btn .line-card {
		width: 100%;
		height: 2px;
		background:#000;
		margin: 4px auto;
		transition: all 0.3s;
		backface-visibility: hidden;
		border-radius: 10px;
	}
	.h-toggle-btn .line-card:first-child { margin:0; }
	.h-toggle-btn .line-card:last-child { margin:0; }
	#h-toggle-btn.open .one { transform: rotate(45deg) translate(1px, 6px); }
	#h-toggle-btn.open .two { opacity: 0; }
	#h-toggle-btn.open .three { transform: rotate(-45deg) translate(3px, -8px); }
	#h-sidebar-wrapper {
		z-index: 1000;
		position: fixed;
		right: 0;
		width: 0;
		height: 100vh;
		margin-left: 0;
		background: #FFF;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
		visibility: hidden;
		opacity: 0;
		top: 0px;
		padding: 24px 16px 32px;
	}
	#h-sidebar-wrapper.h-menu-active { width:100%; opacity: 1; visibility: visible; }
	#h-sidebar-wrapper ul { 
		margin: 0; 
		padding: 0 !important; 
		flex-direction:column; 
		display: flex;
		gap: 15px;
	}
	#h-sidebar-wrapper ul li { 
		list-style-type: none; 
		display:block; 
		width: 100%; 
	}
	#h-sidebar-wrapper ul li a { font-size: 16px;}
	.m-overlay-bg {  
		display: none; 
		position: fixed; 
		width: 100%; 
		height: 100%; 
		background: rgba(86, 86, 86, 0.4); 
		z-index: 1000; 
		transition: all 0.5s ease-in-out; 
	}
	.m-overlay-bg.h-bg-active { display: block; width: 100%; left: auto; top: 0; cursor: pointer; }
	.open-nav { overflow: hidden; }
	.search-box { order:1; }
	.menu-right-wapper{ flex-direction:row-reverse; gap:16px; }
	.menu-close-icon i { font-size: 28px;}
	.h-header-top-left img { width: 20px; height: 20px; object-fit: contain;}
	.m-login-sign.h-login-sign { display: flex;}
	.h-login-sign>a { font-size: 18px; padding: 12px 24px; gap: 10px; justify-content: center; width: 100%;	}
	.h-header-card { display:flex; flex-direction:column; gap:20px; }
	.h-cart { padding: 7px;}
	/* mobile header end */


	/* Footer Start */
     .footer-main .row { row-gap: 30px;}
	 .footer-newsletter { left: 42px; max-width: 89%;}
	 .footer-newsletter-form { margin: 0;}
	/* Footer End */

}

@media(max-width:767px){
	/* header css start */
	.m-search-wapper span { position: absolute; top: 10px; left: 16px; }
	/* header css end */

	/* Footer Start */
	.footer-wapper { margin-top: 74px;}
	.footer-log img { max-width: 220px; height: auto; margin: auto;}
	.footer-log { display: flex; margin-bottom: 15px;}
	.footer-media h4 { font-size: 22px; line-height: 27.69px; margin-bottom: 15px;}
	.footer-media>ul>li>a { width: 40px; height: 40px;}
	.footer-center h4 { font-size: 22px; line-height: 27.69px; margin-bottom: 15px;}
	.footer-center ul { gap: 10px;}
	.footer-center ul li { padding-left: 25px; font-size: 16px; line-height: 19.94px;}
	.footer-center ul li::after { width: 16px; height: 16px; top: 2px;}
	.footer-right h4 {font-size: 22px; line-height: 27.69px; margin-bottom: 15px;}
	.footer-right ul { gap: 10px;}
	.footer-right ul li span { font-size: 16px; line-height: 18.94px;}
	.footer-right ul li img { width: 18px; height: 18px;}
	.footer-main { padding-bottom: 30px;}
	.footer-bottom  { padding: 15px 0;}
	.footer-bottom p { font-size: 16px; line-height: 18.94px;}
	.footer-wapper { padding-top: 140px;}


	
	.footer-newsletter { left: 19px; max-width: 90%; padding: 10px ; height: 180px; top: -70px;}
	.footer-newsletter-form {
		padding: 5px 5px 5px 10px;
		height: auto;
		align-items: start;
		flex-direction: column;
		gap: 6px;
		margin: 0;
	}
	.footer-newsletter-form a { font-size: 18px; line-height: 26px; padding: 9px 16px;}
	.footer-newsletter h2 { font-size: 30px; line-height: normal; margin-bottom: 10px;}

}


@media(min-width:1300px){
	.container.w-1240 { max-width:1240px!important; }
}