body { margin: 0; padding: 0; }
:root { --golos-text: 'Golos Text', sans-serif; }
a:hover { text-decoration:none; }
.form-control:focus, button:focus, button:focus-visible, .form-control:focus-visible { outline:unset; box-shadow:unset; }

/* header css start */
.h-home-wapper {  position:relative; padding:16px 0; height:75px; }
.h-toggle-btn { display: none; }
.h-header-nav { display: flex; align-items: center; justify-content: space-between; }
.h-main-menu ul { padding: 0; margin: 0; display: flex; align-items: center;  }
.h-main-menu ul li { list-style-type: none; display: inline-block; margin:0 0 0 0; }
.h-main-menu ul li:last-child { margin-right: 0; }
.h-main-menu ul li a {
	padding: 0 10px;
	display: block;
	transition: 0.5s all;
	color: #000;
	font-family: var(--golos-text);
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: 0.14px;
	text-transform: uppercase;
	position: relative;
}
.menu-right-wapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 24px;
}
.subscribe-wapper a{
	border-radius: 4px;
	background: #3836CB;
	padding: 0 24px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFF;
	height: 43px;
	font-family: var(--golos-text);
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

/* search css start */
.m-mobile-card { display:none; }
.search-input, .search-b{ display:none; }
.search-popup {
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100%;
	z-index: 99;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
	overflow: hidden;
	-webkit-transform: scale(0.95);
	transform: scale(0.95);
}
.search-popup .search-back-drop {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color:rgba(0, 0, 0, 0.5);
}
.search-popup .close-search {
	position: absolute;
	top: 30px;
	right: 30px;
	font-size: 26px;
	color: #fff;
	z-index: 3;
	border-radius: 50%;
	background-color: transparent;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
	border: 0;
}
.search-popup .search-inner {
	position: relative;
	display: block;
	top: 40%;
	height: auto;
	z-index: 1;
	width: calc(100% - 60px);
	max-width: 800px;
	margin: auto;
	opacity: 0;
	-webkit-transform: translateY(-50px);
	transform: translateY(-50px);
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}
.moblie-search-active .search-popup .search-inner {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	-webkit-transition-delay: 500ms;
	transition-delay: 500ms;
}
.search-popup .form-group {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.search-popup .form-group input[type=search], .search-popup .form-group input[type=text] {
	position: relative;
	display: block;
	line-height: 20px;
	color: #291622;
	font-family: var(--Manrope);
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	width: 100%;
	height: 50px;
	border: 1px solid #e1e6dc;
	padding: 15px 20px;
	color: #707070;
	background: #ffffff;
	border-radius: 5px;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
}
.search-popup .form-group button {
	position: absolute;
	right: 5px;
	top: 5px;
	height: 40px;
	width: 40px;
	display: block;
	font-size: 18px;
	color: #000;
	line-height: 40px;
	border-radius: 5px;
	font-weight: normal;
	background: #ffffff;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
	border: 0;
}
.moblie-search-active .search-popup {
	opacity: 1;
	visibility: visible;
	-webkit-transform: scale(1);
	transform: scale(1);
	border-radius: 0%;
}
input:focus, button:focus, button:focus-visible, input:focus-visible { outline:unset; }
/* search css end */
/* header css end */

/* trading header slider css start */
.h-stk-wapper {
	border-top: 1px solid #E0E8EF;
	background: #000;
	padding: 8px 0;
	position: relative;
}
.h-stk-slider-card { display:flex; align-items:center;gap: 8px; }
.h-stk-stname a {
	color: #FFF;
	font-family:var(--golos-text);
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 22px;
	letter-spacing: -0.32px;
}
.h-stk-stkvalue span {
	color: #FFF;
	font-family: var(--golos-text);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: -0.32px;
}
.h-stk-stktodayupdn{
	color: #46B7AD;
	font-family: var(--golos-text);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: -0.32px;
}
.h-stk-stkarw {
	display: inline-block;
	border-bottom: 6px solid #46B7AD;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	margin: 2px 0px 0px 4px;
}
.h-stk-stkarw.red {
	border-top: 6px solid #C80D07;
	border-bottom: none;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
}
.red { color: #c00; }
.h-stk-main-wapper .owl-nav {
	display: flex;
	align-items: center;
	gap: 4px;
	position: absolute;
	right: 0;
	top: 0;
}
/* trading header slider css end */

/* footer css start */
.footer-wapper { border-top: 1px solid #EEE; background: #FFF; position: relative; padding:24px 0; }
.footer-wapper .container { display:flex; flex-direction:column; gap:32px; }
.footer-top-card {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-flow: row wrap;
}
.footer-logo { max-width: 157px; width: 100%; }
.footer-logo img { max-width:unset; width:100%; height: auto; object-fit: contain; }
.footer-social-icon ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	gap: 20px;
}
.footer-social-icon ul li {
	list-style-type: none;
	display: inline-block;
}
.footer-social-icon ul li a {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	width: 40px;
	height: 40px;
	border-radius: 25px;
	background: rgba(230, 230, 230, 0.50);
	color: #3836CB;
}
.footer-subscribe a {
	max-width: 125px;
	width: 100%;
	height: 43px;
	text-align: center;
	display: block;
	padding: 0 24px;
	border-radius: 4px;
	background: #3836CB;
	color: #FFF;
	font-family: var(--golos-text);
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 43px;
}
.f-hr { margin: 0; border-top:1px solid #E6E6E6; }
.footer-menu ul {
	margin:0;
	padding: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 33px;
}
.footer-menu ul li { list-style-type:none; display:inline-block; }
.footer-menu ul li a {
	color: #000;
	font-family:var(--golos-text);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0.16px;
}
.footer-copyright-card p {
	color: #000;
	font-family: var(--golos-text);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0.16px;
	text-align: center;
	margin: 0;
}
.footer-copyright-card p a { text-decoration-line: underline; color: #000; }

/* footer css end */

@media(max-width:1199px){
	/*mobile header start*/
	.h-header-logo { max-width:140px; width:100%; }
	.h-header-logo img {  width:100%; height:auto; object-fit:contain; }
	.h-toggle-btn { display: block; }
	.h-toggle-btn {
		margin-right: 0;
		width: 16px;
		height: 16px;
		position: relative;
		-webkit-transition: .5s ease-in;
		-o-transition: .5s ease-in;
		transition: .5s ease-in;
		cursor: pointer;
	}
	.h-toggle-btn .line-card {
		width: 100%;
		height: 2px;
		background:#000;
		margin: 4px auto;
		transition: all 0.3s;
		backface-visibility: hidden;
		border-radius: 10px;
	}
	.h-toggle-btn .line-card:first-child { margin:0; }
	.h-toggle-btn .line-card:last-child { margin:0; }
	#h-toggle-btn.open .one { transform: rotate(45deg) translate(1px, 6px); }
	#h-toggle-btn.open .two { opacity: 0; }
	#h-toggle-btn.open .three { transform: rotate(-45deg) translate(3px, -8px); }
	#h-sidebar-wrapper {
		z-index: 1000;
		position: fixed;
		right: 0;
		width: 0;
		height: 100vh;
		margin-left: 0;
		background: #FFF;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
		visibility: hidden;
		opacity: 0;
		top: 68px;
		padding: 24px 16px 32px;
	}
	#h-sidebar-wrapper.h-menu-active { width:100%; opacity: 1; visibility: visible; }
	#h-sidebar-wrapper ul { 
		margin: 0; 
		padding: 0 !important; 
		flex-direction:column; 
		display: flex;
		gap: 20px;
	}
	#h-sidebar-wrapper ul li { 
		list-style-type: none; 
		display:block; 
		width: 100%; 
	}
	#h-sidebar-wrapper ul li a { 
		color: #000;
		display: block; 
		position:relative; 
	}
	.m-overlay-bg {  
		display: none; 
		position: fixed; 
		width: 100%; 
		height: 100%; 
		background: rgba(86, 86, 86, 0.4); 
		z-index: 1000; 
		transition: all 0.5s ease-in-out; 
	}
	.m-overlay-bg.h-bg-active { display: block; width: 100%; left: auto; top: 0; cursor: pointer; }
	.open-nav { overflow: hidden; }
	.search-box { order:1; }
	.menu-right-wapper{ flex-direction:row-reverse; gap:16px; }
	/* mobile header end */

}

@media(max-width:767px){
	/* header css start */
	.search-box { display:none;}
	.m-mobile-card { display:block; } 
	.m-search-wapper { margin-top:16px; position:relative; }
	.m-search-wapper input{
		position: relative;
		width: 100%;
		height: 44px;
		padding: 10px 16px 10px 42px;
		color: rgba(24, 23, 22, 0.50);
		font-family: var(--golos-text);
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		border-radius: 4px;
		border: 1px solid #E6E6E6;
	}
	.m-search-wapper span { position: absolute; top: 10px; left: 16px; }
	.h-header-card { display:flex; flex-direction:column; gap:32px; }
	/* header css end */

	/* footer css start */
	.footer-wapper { padding:32px 0; }
	.footer-wapper .container { gap:24px; }
	.footer-top-card { justify-content:center; flex-flow:column; gap:24px; }
	.footer-subscribe { max-width:100%; width:100%; }
	.footer-subscribe a { max-width:100%; }
	.footer-menu ul { flex-direction:column;gap:24px; }
	/* footer css end */

}


@media(min-width:1300px){
	.container.w-1280 { max-width:1280px!important; }
}