
body { margin: 0; padding: 0; }

:root {
	--Blacker_Text:'Blacker Text'; 
	--Manrope:'Manrope', sans-serif;
}
a:hover { text-decoration:none; }



/* top link section start */

.top-link-section{
	background: #FFF6ED;
	padding: 32px 0;
	}
	.top-link-section ul{
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: row;
		gap: 8px;
	}
	.top-link-section ul li{
		list-style-type: none;
	}
	.top-link-section ul li a{
		color:  #291622;
	font-family: var(--Manrope);
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-decoration-line: underline;
	}
	
	/* top link section end */

	/* Oregon Supreme section start */

	/* left */

	.oregon-supreme-section{
		background: #FFF6ED;
		padding-bottom: 120px;
	}
	.oregon-supreme-section .oregon-supreme-left-wapper{
		display: flex;
		flex-direction: column;
		gap: 32px;
	}
	.oregon-supreme-section .oregon-supreme-left-wapper h2 {
		color: #291622;
		font-family: var(--Blacker_Text);
		font-size: 62px;
		font-style: normal;
		font-weight: 400;
		line-height: 67px;
		letter-spacing: -1.95px;
		text-transform: capitalize;
		margin: 0;
	}
	.oregon-supreme-section .oregon-supreme-left-wapper h2 span{
		position: relative;
  z-index: 1;
	}
	.oregon-supreme-section .oregon-supreme-left-wapper h2 span::after{
		content: '';
  width: 100%;
  height: 20px;
  background: #FFF;
  position: absolute;
  bottom: 5px;
  left: 0;
  z-index: -1;
	}

.search-wapper form, .search-wapper form .form-group{
	display: flex;
	flex-direction: row;
	gap: 8px;
	align-items: center;
	margin: 0;
}
 .search-wapper form .court-name{
	width: 42%;
}
 .search-wapper form .since {
	width: 23%;
}
 .search-wapper form .to{
	width: 21%;
}
 .search-wapper form .search-btn-f{
	width: 14%;
	display: flex;
 }
 .search-wapper form .search-btn-f a{
	border-radius: 52px;
border: 1px solid #291622;
background: #F3DCA0;
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 48px;
color: #291622;
font-family: var(--Manrope);
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
 }
.search-wapper form .form-group input{
	width: 100%;
	height: 48px;
	border-radius: 52px;
border: 1px solid #291622;
background: #FFF;
padding: 8px 16px; 
 }
 .search-wapper form .form-group input::placeholder{
	color: #291622;
font-family: var(--Manrope);
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
opacity: 0.5;
 }
  .search-wapper form .form-group input:focus{
	box-shadow: none;
 }
 .search-wapper form .form-group label{
	margin: 0;
	padding: 0;
	color: #291622;
text-align: center;
font-family: var(--Manrope);
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; 
 }

	.oregon-supreme-section .oregon-supreme-left-wapper table{
		width: 100%;
		height: 100%;
	}
	.oregon-supreme-section .oregon-supreme-left-wapper table p{

font-family: var(--Manrope);
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 24px;
margin: 0;
	}
	.oregon-supreme-section .oregon-supreme-left-wapper table thead p{
		color: #291622;
	}
	.oregon-supreme-section .oregon-supreme-left-wapper table tbody p{
		color: #333;
	}
	.oregon-supreme-section .oregon-supreme-left-wapper table thead{
		border: 1px solid  #291622;
background: #F8EBDF;
	}
	.oregon-supreme-section .oregon-supreme-left-wapper table tbody tr{
		border-right: 1px solid  #291622;
border-bottom: 1px solid  #291622;
border-left: 1px solid  #291622;
background: #FFF;
	}
	.oregon-supreme-section .oregon-supreme-left-wapper table th,.oregon-supreme-section .oregon-supreme-left-wapper table td{
		padding: 10px;
	}



	/* right */

	.oregon-supreme-right-wapper{
		display: flex;
		flex-direction: column;
		gap: 24px;
	}
	.oregon-supreme-right-wapper .adv-wapper{
		width: 100%;
		height: 349px;
		border: 1px solid  #291622;
background: #FFF;
color: #000;
text-align: center;
font-family: var(--Manrope);
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: 24px;
display: flex;
align-items: center;
justify-content: center;
	}
	.oregon-supreme-right-wapper .free-daily-summaries-wapper{
		border: 1px solid #291622;
background: #F8EBDF;
padding: 32px 16px;
display: flex;
flex-direction: column;
gap: 16px;
	}
	.oregon-supreme-right-wapper .free-daily-summaries-wapper h5{
		color: #291622;
text-align: center;
font-family: var(--Blacker_Text);
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: 28px;
letter-spacing: -0.22px;
margin: 0;
	}
	.oregon-supreme-right-wapper .free-daily-summaries-wapper p{
		color:  #333;
text-align: center;
font-family: var(--Manrope);
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 24px;
margin: 0;
	}
	.oregon-supreme-right-wapper .free-daily-summaries-wapper form{
		display: flex;
		flex-direction: column;
		gap: 12px;
	}
	.oregon-supreme-right-wapper .free-daily-summaries-wapper form .form-group{
		margin: 0;
	}
	.oregon-supreme-right-wapper .free-daily-summaries-wapper form .form-group input{
		width: 100%;
		height: 48px;
		padding: 8px 16px; 
		border-radius: 52px;
border: 1px solid #291622;
background: #FFF;
	}
	.table-responsive-sm{
		overflow-x: scroll;
	}
	.oregon-supreme-right-wapper .free-daily-summaries-wapper form .form-group input:focus{
		box-shadow: none;
	}
	.oregon-supreme-right-wapper .free-daily-summaries-wapper form .subscribe-btn{
		display: flex;
	}
	.oregon-supreme-right-wapper .free-daily-summaries-wapper form .subscribe-btn a{
		border-radius: 52px;
border: 1px solid #291622;
background: #F3DCA0;
width: 100%;
height: 48px;
display: flex;
align-items: center;
justify-content: center;
color: #291622;
font-family: var(--Manrope);
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
	}
	.oregon-supreme-right-wapper .free-daily-summaries-wapper form .subscribe-btn a img{
		margin-right: 6px;
	}
	/* Oregon Supreme section end */





@media(max-width:1399px){
	/* Oregon Supreme section start */
	/* left */
	.oregon-supreme-section .oregon-supreme-left-wapper h2 {
		font-size: 56px;
		line-height: 61px;
	}
	/* right */
	.oregon-supreme-right-wapper .free-daily-summaries-wapper p {
		font-size: 15px;
		line-height: 23px;
	}
	/* Oregon Supreme section end */
}
@media(max-width:1199px){
	
}

@media only screen and (min-width: 992px) and (max-width:1199px) {
	/* Oregon Supreme section start */
	/* left */
	.oregon-supreme-section .oregon-supreme-left-wapper h2 {
		font-size: 48px;
		line-height: 53px;
	}
	.search-wapper form, .search-wapper form .form-group {
		gap: 5px;
	}
	.search-wapper form .court-name {
		width: 37%;
	}
	.search-wapper form .since {
		width: 25%;
	}
	.search-wapper form .to {
		width: 22%;
	}
	.search-wapper form .search-btn-f {
		width: 16%;
	}
	/* right */
	.oregon-supreme-right-wapper .free-daily-summaries-wapper h5 {
		font-size: 17px;
		line-height: 23px;
	}
	.oregon-supreme-right-wapper .free-daily-summaries-wapper p {
		font-size: 11px;
		line-height: 19px;
	}
	.oregon-supreme-right-wapper .free-daily-summaries-wapper {
		padding: 25px 10px;
		gap: 14px;
	}
	.oregon-supreme-right-wapper .adv-wapper {
		height: 250px;
	}
	/* Oregon Supreme section end */

}

@media(max-width:991px){
	/* Oregon Supreme section start */

	.oregon-supreme-section .row{
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	/* Oregon Supreme section end */
}

@media(max-width:767px){
/*  top link section start  */
.top-link-section{
	padding: 24px 0;
	}

/*  top link section end */
/* Oregon Supreme section start */
.oregon-supreme-section {
	padding-bottom: 60px;
}
/* left */
.oregon-supreme-section .oregon-supreme-left-wapper {
	gap: 20px;
}
.oregon-supreme-section .oregon-supreme-left-wapper h2 {
	font-size: 42px;
	line-height: 47px;
}	

.search-wapper form, .search-wapper form .form-group {
	display: flex;
	flex-direction: column;
	gap: 5px;
	align-items: start;
}
.search-wapper form .form-group label {
	padding-left: 20px;
}
.search-wapper form{
	gap: 15px;
}
.search-wapper form .court-name {
	width: 100%;
}
.search-wapper form .since {
	width: 100%;
}
.search-wapper form .to {
	width: 100%;
}
.search-wapper form .search-btn-f {
	width: 100%;
}
/* Oregon Supreme section end */
}


@media(max-width:350px){
	.oregon-supreme-section .oregon-supreme-left-wapper h2 {
		font-size: 40px;
		line-height: 45px;
	}
}
