body { margin: 0; padding: 0; }
:root {
	--font_1:'Anton', sans-serif;
	--font_2:'Manrope', sans-serif;
}
a:hover { text-decoration:none; }
/* header css start */
.header-wapper { position:relative; }

/* top header css start */
.top-header-wapper { 
	background: #1B9C43;
	position: relative;
	display: flex;
	align-items: center; 
	height:60px; 
	z-index: 10000;
}
.top-header-card { display:flex; align-items:center; justify-content:space-between; }
.header-logo { max-width: 212px; width: 100%; height: 46px; }
.header-logo img { width:100%; height:100%; object-fit:contain; }
.header-top-menu ul{ padding:0; margin:0; display:flex; align-items:start; gap: 24px; }
.header-top-menu ul li { display:inline-block; list-style-type:none; }
.header-top-menu ul li a {
	color: #FFF;
	text-align: center;
	font-family: var(--font_2);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 0.32px;
	text-transform: capitalize;
}
.header-right-side { display: flex; align-items: center; gap: 32px; }
.header-social-icon ul { padding:0; margin:0;display: flex; align-items: flex-start;  gap: 16px; }
.header-social-icon ul li { list-style-type:none; }
.header-social-icon ul li a { display:block; }
.header-social-icon ul li img { width:26px; height:26px; max-width:unset; }
.header-search-icon span  { display:block;cursor:pointer; }
.header-search-icon span img { width:24px; height:24px; max-width:unset; }
/* top header css end */

/* bottom header css start */
.bottom-header-wapper { background: #0E2236; display:flex; align-items:center; justify-content:center; }
.bottom-header-menu {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 35px;
}
.bottom-header-menu span { width: 1px; height: 16px; display: block; background-color: #fff; }
.bottom-header-menu>ul {
	display: flex;
	align-items: center;
	gap: 18px;
	padding: 0;
	margin: 0;
}
.bottom-header-menu>ul>li { list-style-type:none; display:inline-block; position:relative; }
.bottom-header-menu>ul>li>a {
	color: #FFF;
	text-align: center;
	font-family: var(--font_2);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 0.32px;
	text-transform: capitalize;
	display: block;
	padding: 17px 8px;
	position: relative;
}
.bottom-header-menu>ul>li.sub-menu-card a:after{
	content:'';
	background-image: url('../img/dropdown-arrow.svg');
	width: 16px;
	height: 16px;
	transform: rotate(0deg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	right: -14px;
	top: 38%;
} 
.submenu-wapper{
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 100%;
	left: 0;
	height: auto;
	width: 250px;
	background-color: #0E2236;
	padding: 10px;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	z-index: 1000;
}
.submenu-wapper>ul { padding:0; margin:0; }
.submenu-wapper>ul>li { list-style-type:none; display:block; list-style-type:none; }
.submenu-wapper>ul>li>a {
	color: #FFF;
	font-family: var(--font_2);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 0.32px;
	text-transform: capitalize;
	display: block;
	padding: 8px 10px;
}
.bottom-header-menu>ul>li:hover .submenu-wapper { visibility: visible; opacity:1; }
.bottom-header-menu>ul>li:hover a:after { transform:rotate(180deg); }
.m-toggle-btn { display:none; }
#m-sidebar-wrapper { display:none; }
/* bottom header css end */

/* header css end */

/* cta section css start */
.cta-sect-d-wapper { position:relative; padding:60px 0; }
.cta-left-side-wapper { 
	position:relative;
	padding:36px;
	display: flex;
	flex-direction: column;
	gap: 32px;
	background: #1A6C83;
}
.cta-left-side-wapper h3 {
	color: #FFF;
	font-family:var(--font_1);
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: 44px;
	letter-spacing: 0.4px;
	margin: 0;
}
.cta-left-side-wapper p {
	color: #FFF;
	font-family: var(--font_2);
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 140%;
	margin: 0;
}
.cta-left-side-wapper .tracker-btn {
	display: flex;
	height: 46px;
	width: 100%;
	background-color: #fff;
	justify-content: center;
	align-items: center;
	gap: 10px;
	align-self: stretch;
	color: #000;
	text-align: center;
	leading-trim: both;
	text-edge: cap;
	font-family: var(--font_1);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 0.32px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.cta-us-icon {
	position: absolute;
	bottom: -38px;
	right: 32px;
	width: 79px;
	height: 79px;
}
.cta-us-icon img { width:100%; height:100%; max-width:unset; object-fit:contain; }
.cta-right-side-wapper {
	position: relative;
	background-image: url('../img/bg-shape.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 23px;
	padding-left: 36px;
	padding-right: 48px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	height: 401px;
	overflow: hidden;
	align-items: center;
}
.cta-right-side-wapper:before {
	content: '';
	background-color: #4D4F4E;	
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.cta-right-side-text { 
	max-width:355px; 
	width:100%; 
	display: flex;
	flex-direction: column;
	gap: 32px;
	position: relative;
	padding-bottom: 20px;
}
.cta-right-side-text h3 {
	color: #FFF;
	font-family: var(--font_1);
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: 44px;
	letter-spacing: 0.4px;
	margin: 0;
}
.cta-right-side-text p {
	color: #FFF;
	font-family: var(--font_2);
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 140%;
	margin: 0;
}
.cta-form-wapper form {
	display: flex;
	align-items: center;
	position: relative;
}
.cta-form-wapper form input{
	border: 1px solid rgba(0, 0, 0, 0.05);
	background: #F5F5F7;
	width: 100%;
	padding: 0 16px;
	height: 46px;
	color: #4D4F4E;
	font-family: var(--font_2);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%;
}
input:focus{ outline:unset; }
.cta-form-wapper form .cta-search-btn {
	border: 1px solid rgba(0, 0, 0, 0.05);
	background: #DD2D2F;
	max-width: 46px;
	width:100%;
	height: 46px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.cta-form-wapper form .cta-search-btn img {
	width: 20px;
	height: 20px;
	max-width: unset;
	object-fit: contain;
}
.cta-right-side-img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 284px;
	height: 378px;
	position: relative;
}
/* cta section css end */


/* about section css start */
.about-wapper { 
	margin:30px 0 0; 
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 100px;
	padding-bottom: 100px;
}
.about-wapper:before{
	content: '';
	background-image: linear-gradient(180deg, #0E2236 0%, rgba(14, 34, 54, 0.00) 100%);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.about-wapper .container{ display:flex; flex-direction:column; gap:80px; }
.about-top-wapper { display:flex; flex-flow:row wrap; justify-content:space-between; position:relative; }
.about-left-card { 
	max-width:376px;
	width:100%; 
	display: flex;
	flex-direction: column;
	gap: 32px;
}
.about-left-card p {
	color: #1B9C43;
	font-family: var(--font_2);
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 28px;
	letter-spacing: -0.2px;
	text-transform: uppercase;
	margin: 0;
}
.about-left-card h2 {
	color: #FFF;
	font-family: var(--font_1);
	font-size: 60px;
	font-style: normal;
	font-weight: 400;
	line-height: 70px;
	letter-spacing: 0.6px;
	text-transform: uppercase;
	margin: 0;
}
.about-right-card {
	max-width: 550px;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 24px;
	position: relative;
}
.about-right-card p {
	color: #FFF;
	font-family:var(--font_2);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: -0.16px;
	margin: 0;
}
.fact-wapper { display:flex; flex-flow:row wrap; gap:20px; }
.fact-wapper .fact-col p{
	border: 1px solid rgba(255, 255, 255, 0.20);
	background: rgba(14, 34, 54, 0.20);
	backdrop-filter: blur(3px);
	padding:0 16px;
	text-align: center;
	max-width: 215px;
	width: 100%;
	height: 60px;
	display: inline-block;
	color: #FFF;
	font-family: var(--font_2);
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 60px;
	letter-spacing: -0.16px;
}
.fact-wapper .fact-col p span {
	font-weight: 600;
	line-height: 28px;
	font-size: 22px;
	margin-right: 10px;
}
.about-bottom-left-card { 
	padding:32px; 
	border-top: 1px solid rgba(255, 255, 255, 0.20);
	background: rgba(14, 34, 54, 0.20);
	backdrop-filter: blur(36.5px);
	position: relative;
}
.about-bottom-left-text { max-width: 350px; width: 100%; }
.about-bottom-left-card span {
	color: #1B9C43;
	font-family: var(--font_2);
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: -0.14px;
	text-transform: uppercase;
}
.about-bottom-left-card h3 {
	color: #FFF;
	font-family:var(--font_1);
	font-size: 34px;
	font-style: normal;
	font-weight: 400;
	line-height: 44px;
	letter-spacing: 0.34px;
	text-transform: uppercase;
	margin: 0;
	padding-top: 8px;
	padding-bottom: 16px;
}
.about-bottom-left-card p {
	color: #FFF;
	font-family: var(--font_2);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	margin:0;
}
.about-bottom-left-card a {
	color: #39B54A;
	font-family: var(--font_2);
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px;
}
.about-bottom-left-card:before {
	content: '';
	position: absolute;
	right: 0;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.about-bottom-left-img:before {
	background-image: url('../img/4026-1.png');
	width: 171px;
	height: 155px;
	top: 40px;
}
.about-bottom-right-img:before {
	background-image: url('../img/Subtract.png');
	width: 156px;
	height: 228px;
	top: 20px;
}
/* about section css end */

/* footer css start */
.footer-wapper-main { position:relative; }
.footer-wapper { background: #0E2236; position: relative; padding-top: 64px; }
.footer-row-a {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	align-self: stretch;
	padding-bottom: 56px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.footer-left-col { max-width: 500px; width: 100%; }
.footer-right-col { max-width: 589px; width: 100%; }
.footer-left-card { display:flex; flex-direction:column; gap:24px; }
.footer-logo { max-width: 212px; height: 46.64px; width: 100%; }
.footer-logo img { width:100%; height:100%; max-width:unset; object-fit:cover; }
.footer-left-card p {
	color: #FFF;
	font-family: var(--font_2);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: -0.16px;
	margin: 0;
}
.footer-left-card ul { display:flex; align-items:center; padding:0; margin:0; gap:16px; }
.footer-left-card ul li { list-style-type:none; display:inline-block; }
.footer-left-card ul li a img { width: 44px; height: 44px; }
.footer-right-col { display: flex; flex-flow: row wrap; }
.footer-menu-col { display:flex; flex-direction:column; gap:32px; padding: 0 48px; }
.footer-menu-col:nth-child(2) {
	border-left: 1px solid rgba(255, 255, 255, 0.15);
	border-right: 1px solid rgba(255, 255, 255, 0.15);
}
.footer-menu-col:first-child { padding-left:0; }
.footer-menu-col:last-child { padding-right:0; }
.footer-menu-col h3 {
	color: #1B9C43;
	font-family: var(--font_2);
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 28px;
	letter-spacing: -0.2px;
	text-transform: uppercase;
}
.footer-menu-col ul { margin: 0; padding: 0; display: flex; flex-direction: column; gap: 16px; }
.footer-menu-col ul li { list-style-type:none;  }
.footer-menu-col ul li a {
	color: #FFF;
	font-family: var(--font_2);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: -0.16px;
}
.footer-bottom-wapper { padding: 56px 0 48px; position: relative; max-width:1090px; width:100%; margin:auto; }
.footer-bottom-wapper p {
	color: #FFF;
	text-align: center;
	font-family: var(--font_2);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: -0.16px;
	margin: 0;
}
.footer-reserved { padding: 16px 0; position: relative; background: #081929; }
.footer-reserved p {
	color: #FFF;
	text-align: center;
	font-family: var(--font_2);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: -0.16px;
	margin: 0;
}
/* footer css end */

/* search popup css start */
.search-btn { order: 2; }
.search-btn a { color: #002444; }
.dd32-search-popup { z-index: 1000; display: none; position: fixed; top: 0; right: 0; left: 0; bottom: 0; }
.dd32-search-bg { position: absolute; top: 0; right: 0; left: 0; bottom: 0; background-color: rgba(0, 0, 0, .5); }
.dd32-search-popup label { color: white; }
.dd32-search-form { display: block; margin: 10em 4em; position: relative; right: -100%; }
.dd32-form { position: relative; }
.dd32-form input {
	outline: none;
	border-width: 0 0 1px 0;
	border-style: none none solid none;
	border-color: #FFFFFD;
	background-color: transparent;
	color: #FFF;
	font-family: Manrope;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	width: 100%;
	padding: 20px;
}
.dd32-form input:focus::-webkit-input-placeholder { opacity: 0; }
.dd32-form input:focus::-moz-placeholder { opacity: 0; }
.dd32-form input:-ms-input-placeholder { opacity: 0; }
.dd32-form input:focus:-moz-placeholder { opacity: 0; }
.dd32-form label { position: absolute; top: 25%; right: 0; }
.search-btn-mobile { display: none; }
/* search popup css end */

@media(max-width:1199px){
	.bottom-header-menu>ul { gap:10px; }
	.bottom-header-menu>ul>li>a { font-size:12px; line-height:20px; }

	/* cta section css start */
	.cta-left-side-wapper { padding:20px 20px 40px; margin-bottom:50px; gap:20px; }
	.cta-right-side-wapper {     
		padding-top: 23px;
		padding-left: 20px;
		padding-right: 20px; 
		justify-content: space-between;
		height: auto;
	}
	.cta-right-side-text { max-width:320px; gap:20px; }
	.cta-right-side-img  { width: 234px; height: 308px; }
	.cta-right-side-text h3 { font-size:30px; line-height:34px; }
	.cta-left-side-wapper h3 { font-size:30px; line-height:34px; }
	/* cta section css end */

	/* footer mobile view css start	*/
	.footer-left-col { max-width:344px; }
	.footer-right-col { max-width:500px; }
	.footer-menu-col { padding:0 20px; }
	/* footer mobile view css end */
}

@media only screen and (min-width: 992px) and (max-width:1199px) {
	/* about section css start */
	.about-bottom-left-img:before { width: 120px; }
	.about-bottom-right-img:before { width:120px; }
	.about-bottom-left-text { max-width: 300px; width: 100%; }
	/* about section css end */
}


@media(max-width:991px){
	/* header mobile view css start	*/
	.header-top-menu { display:none; }
	.bottom-header-wapper{ display:none; }
	#m-sidebar-wrapper { display:block; }
	.m-toggle-btn {
		margin-right: 0;
		width: 18px;
		position: relative;
		-webkit-transition: .5s ease-in;
		-o-transition: .5s ease-in;
		transition: .5s ease-in;
		cursor: pointer;
		display: inline-block;
	}
	.line-card {
		width: 100%;
		height: 3px;
		background: #fff;
		margin: 4px auto;
		transition: all 0.3s;
		backface-visibility: hidden;
	}
	#m-toggle-btn.open .one { transform: rotate(45deg) translate(2px, 5px); }
	#m-toggle-btn.open .two { opacity: 0; }
	#m-toggle-btn.open .three { transform: rotate(-45deg) translate(5px, -8px); }
	#m-sidebar-wrapper {
		z-index: 1000;
		position: fixed;
		right: 0;
		width: 0;
		height: 100vh;
		margin-left: 0;
		background-color:#0E2236;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
		visibility: hidden;
		opacity: 0;
		overflow-y: scroll;
		overflow-x: hidden;
		top: 60px;
	}
	#m-sidebar-wrapper.m-menu-active { width:270px; opacity: 1; visibility: visible; }
	.m-overlay-bg {  display: none; position: fixed; width: 100%; height: 100%; background: rgba(86, 86, 86, 0.4); z-index: 1000; transition: all 0.5s ease-in-out; }
	.m-overlay-bg.m-bg-active { display: block; width: 100%; left: auto; top: 0; cursor: pointer; }
	.open-nav { overflow: hidden; }
	.m-sidebar-wrapper ul { margin:0; padding:0; }
	.m-sidebar-wrapper>ul>li { 
		display:block; list-style-type:none;
		padding:5px 20px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.5); 
	}
	.m-sidebar-wrapper>ul>li>a {
		color: #FFF;
		font-family: var(--font_2);
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 25px;
		letter-spacing: 0.32px;
		text-transform: uppercase;
		position: relative;
		display: block;
	}
	.m-sidebar-wrapper>ul>li:last-child a{ border-bottom:0; }
	.m-sidebar-wrapper>ul>li.sub-menu-card>a:after{
		content: '';
		background-image: url(../img/dropdown-arrow.svg);
		width: 16px;
		height: 16px;
		transform: rotate(0deg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		position: absolute;
		right: 0;
		top: 18%;
	}
	.m-sidebar-wrapper>ul>li.sub-menu-card .submenu-wapper { 
		visibility:visible; 
		opacity:1; 
		display:none; 
		position:relative; 
		width: 100%;
		padding: 0;
	}
	.m-sidebar-wrapper>ul>li.sub-menu-card:hover .submenu-wapper { display: block; }
	.submenu-wapper>ul>li>a { padding:5px 10px; }
	.m-sidebar-wrapper>ul>li.sub-menu-card:hover a:after {
        transform: rotate(180deg);
    }
	/* header mobile view css end */

	/* cta section css start */
	.cta-sect-d-wapper  { padding:30px 0; }
	.cta-left-side-wapper { padding:20px 20px 40px; margin-bottom:50px; }
	.cta-right-side-wapper {     
		padding-top: 23px;
		padding-left: 20px;
		padding-right: 20px; 
		height: auto;
		justify-content: center;
	}
	.cta-right-side-text { max-width:100%; }
	.cta-right-side-img { margin-top:30px; }
	/* cta section css end */

	/* about section mobile view css start */
	.about-wapper .container { gap:40px;}
	.about-left-card h2 { font-size:40px; line-height:50px; }
	.about-top-wapper { gap:20px; }
	.about-bottom-wapper .row { width:auto; }
	.about-bottom-left-card:before { display:none; }
	.about-bottom-left-card h3 { font-size:24px; line-height:34px; }
	.footer-menu-col { padding:0 48px; }
	/* about section mobile view css end */

	/* footer mobile view css start	*/
	.footer-row-a { flex-wrap:wrap; gap:40px; }
	.footer-left-col { max-width:100%; }
	.footer-right-col { max-width:100%; }
	/* footer mobile view css end */
}

@media(max-width:767px){
	.header-social-icon { display:none; }

	/* footer css start */
	.footer-menu-col { padding:0; border:0; width:100%; margin-bottom:16px; gap:20px; }
	.footer-menu-col:nth-child(2) { border:0; }
	/* footer css end */
}

@media(min-width:1200px){
	.container.w-1170 { max-width:1170px!important; }
}