body { margin:0; padding:0; overflow-x: hidden; }
:root {
	--bg-green:#60E886;
	--text-green:#60E886;
    --bg-footer:#4E46E4;
	--bg-Blue:#06054B; 
	--text-Blue:#06054B; 
	--text-black:#000000;
	--bg-Violet:#FFFFFF; 
    --bg-section:#F6F4FB;
	--text-grey:#464646; 
	--text-white:#fff; 
    --text-main:#2F2F2F ;
	--Poppins: "Poppins", sans-serif; ;
}

/* header css start */
.header-wapper { position: absolute; top: 64px; width: 100%; z-index: 111;}
.header--container {
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	position: relative;
}
.header-card-wrapper {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 100%;
}
.header--logo {  width: 164px; height: 26px; display: flex;}
.header--head { display: flex; justify-content: space-between; align-items: flex-start; }
.header--navigation a {
	padding-top: 9px;
	display: inline-block;
	background-color: transparent;
	border: none;
	color: var(--text-white);
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
	padding: 0;
	position: relative;
	text-decoration: none;
	font-family:var(--Poppins) ;
	position: relative;
}
.logo--container { display: flex; }
.header--logo .logo--svg-img-small { display: none; }
.header--logo .logo--svg-img-medium { display: block; }
.logo--svg-img {
	width: 202px;
	height: 40px;
}




/* Footer Start */
.footer-wapper {
    padding: 56px 0;
    background-color: var(--bg-footer);
}
.footer-row { display: flex; justify-content: space-between; align-items: center; gap: 10px;}
.footer-left { width: 100%; max-width: 168px;}
.footer-left-logo img {
    width: 100%;
    max-width: 126px;
    height: 26px;
    margin-bottom: 26px;
 }
 .footer-left-logo p {
    font-family:var(--Poppins) ;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    color: #9D98FA;

 }
 .footer-center {width: 2px; height: 120px; background-color: #6C65EA;}
 .footer-right-ul ul{ margin: 0; padding: 0; list-style: none; display: flex; gap: 40px;}
 .footer-right-ul ul li a {
    font-family: var(--Poppins);
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    color: var(--text-white);
 }


@media (min-width: 1400px) {
	.container.header--container , .footer--container { max-width: 968px; }
}
@media(max-width:991px){
	.header--logo .logo--svg-img-medium { display: none; }
	.header--logo .logo--svg-img-small { display: block; }
}
@media(max-width:767px){
    .header-wapper { top: 40px;}
    .footer-right-ul ul { gap: 15px;  flex-direction: column;}
}