* { margin: 0; padding: 0; box-sizing: border-box; }
a:hover { text-decoration: none;}

/* page banner section start */
.page-banner-section { position: relative; background-size: cover; background-position: center; background: #EE3237; }
.page-banner-section::after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(54, 52, 53, 0.8),rgba(54, 52, 53, 0.8)), url(../img/bannerbg.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 0px 0px 0px 360px;
}
.page-banner-section::before {
	content: '';
	width: 150px;
	height: 160px;
	position: absolute;
	left: 25px;
	bottom: 27px;
	background: url(../img/Spiral\ 1.png) no-repeat;
	background-size: cover;
}
.page-banner-section .page-banner-wapper {
	padding: 137px 0;
	max-width: 1014px;
	margin: 0 auto;
	position: relative;
	z-index: 9;
}
.page-banner-section .page-banner-wapper h2 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 80px;
	line-height: 98px;
	color: #FFFFFF;
	margin: 0;
	padding: 0 0 30px 0;
	text-align: center;
}
.page-banner-section .page-banner-wapper ul {
	margin: 0;
	padding: 0;
	display: flex;
	gap: 10px;
	list-style: none;
	justify-content: center;
	align-items: center;
}
.page-banner-section .page-banner-wapper ul li a {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 27px;
	color: #FFFFFF;
}
.page-banner-section .page-banner-wapper ul li {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 27px;
	color: #FFFFFF;
}
/* page banner section end */

/* About Us section start */
.about-section { padding: 100px 0; position: relative; }
.about-section::before {
	content: '';
	width: 172px;
	height: 573px;
	position: absolute;
	left: 0;
	bottom: 50px;
	background: url(../img/shape.png) no-repeat;
	background-size: cover;
	z-index: -1;
	animation-name: bounce;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
	-webkit-animation-duration: 5s;
	animation-duration: 5s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
.about-section .about-row { display: flex; gap: 30px; align-items: center; }
.about-left, .about-right { width: 50%; }
.about-left h4 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	line-height: 27px;
	color: #EE3237;
	margin: 0;
}
.about-left h2 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 49px;
	color: #363435;
	margin: 0;
	padding: 20px 0;
}
.about-left p {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 27px;
	color: #363435;
	margin: 0;
	padding-bottom: 20px;
}
.about-left .about-btn { display: flex; }
.about-btn a {
	padding: 20px 28px;
	background: #363435;
	border: 1px solid #363435;
	border-radius: 8px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 100%;
	color: #FFFFFF;
	transition: all 0.5s ease-in-out;
}
.about-btn a:hover { background: #EE3237; border: 1px solid #EE3237; }
.about-btn a span { margin-left: 12px; }
.about-right { height: 516px; position: relative; }
.about-right-border {
	position: absolute;
	width: 55%;
	height: 392px;
	border: 10px solid #EE3237;
	left: 106px;
	top: 30px;
}
.about-right-img {
	max-width: 70%;
	width: 100%;
	height: 516px;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
}
.about-right-img img { width: 100%; height: 100%; object-fit:cover; }
.about-right-icon {
	width: 44%;
	height: auto;
	position: absolute;
	left: 0;
	bottom: 50px;
	animation-name: float_up_down;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
	-webkit-animation-duration: 5s;
	animation-duration: 5s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
.about-right-icon img { 
	max-width: 246px; 
	height: auto; 
	width:100%; 
	object-fit:contain; 
	background: linear-gradient(269.34deg, rgba(255, 255, 255, 0) 32.33%, #FFFFFF 11.94%);
	border-radius: 6px;
}
.pattern-layer-two {
	position: absolute;
	right: -60px;
	top: 65px;
	width: 137px;
	height: 134px;
	background-repeat: no-repeat;
	z-index: -1;
}
/* About Us section end */

/* Core Purpose section start */
.core-purpose-section {
	padding: 60px 0;
	background: #F2F2F2;
}
.core-purpose-section .core-purpose-title {
	max-width: 1080px;
	margin: 0 auto;
}
.core-purpose-section .core-purpose-title h2 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 49px;
	text-transform: uppercase;
	color: #EE3237;
	margin: 0;
	padding-bottom: 20px;
	text-align: center;
}
.core-purpose-section .core-purpose-title p {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	color: #363435;
	margin: 0;
	padding-bottom: 60px;
}
.core-purpose-section .experiences-card-wapper {
	padding: 30px;
	background: #FFFFFF;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
	border-radius: 6px;
}
.core-purpose-section .experiences-card-wapper h6 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	text-transform: capitalize;
	color: #EE3237;
	margin: 0;
	padding: 0;
}
.core-purpose-section .experiences-card-wapper h4 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 28px;
	line-height: 34px;
	text-transform: capitalize;
	color: #363435;
	margin: 0;
	padding: 8px 0 20px 0;
}
.core-purpose-section .experiences-card-wapper p {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	text-transform: capitalize;
	color: #363435;
	margin: 0;
	padding: 0;
}
/* Core Purpose section end */

/* Life at Icon section start */
.life-at-icon-section {
	padding: 100px 0;
}
.life-at-icon-section .life-at-icon-title {
	max-width: 1080px;
	margin: 0 auto;
}
.life-at-icon-section .life-at-icon-title h2 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 50px;
	line-height: 61px;
	text-transform: uppercase;
	color: #EE3237;
	text-align: center;
	margin: 0;
	padding-bottom: 20px;
}
.life-at-icon-section .life-at-icon-title p {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	color: #363435;
	margin: 0;
	padding-bottom: 60px;
}
.life-at-icon-section .life-row {
	display: grid;
	grid-column-gap: 30px;
	grid-row-gap: 30px;
	grid-template-columns: repeat(3, 1fr);
}
.core-values-card-wapper {
	padding: 30px;
	background: #FFFFFF;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	gap: 28px;
	justify-content: center;
}
.core-values-card-wapper .core-values-card-img {
	width: 170px;
	height: 170px;
	border-radius: 50%;
	background: rgba(238, 50, 55, 0.6);
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}
.core-values-card-wapper .core-values-card-img img {
	width: 150px;
	height: 150px;
	background: #FFFFFF;
	border-radius: 50%;
	object-fit: none;
}
.core-values-card-wapper .core-values-card-inner h3 {
	margin: 0;
	padding: 0;
	line-height: 0;
	text-align: center;
}
.core-values-card-wapper .core-values-card-inner h3 a {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 25px;
	line-height: 32px;
	text-align: center;
	color: #363435;
}
.core-values-card-wapper .core-values-card-inner p {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #363435;
	margin: 0;
	padding-top: 20px;
}
/* Life at Icon section end */

/* Our Facts section start */
.our-facts-section {
	padding: 60px 0;
	background: url(../img/Our-Facts-bg.png) no-repeat;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.our-facts-section:before {
	content: '';
	background: rgba(54, 52, 53, 0.6);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

}
.our-facts-title h2 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 50px;
	line-height: 61px;
	text-transform: uppercase;
	color: #FFFFFF;
	text-align: center;
	margin: 0;
	padding-bottom: 60px;
	position: relative;
}
.our-facts-row {
	display: grid;
	grid-column-gap: 30px;
	grid-row-gap: 30px;
	grid-template-columns: repeat(3, 1fr);
	position: relative;
}
.our-facts-card-wapper {
	padding: 30px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}
.our-facts-card-img {
	font-size: 80px;
	color: #FFFFFF;
	line-height: 92px;
}
.our-facts-card-inner .shiva {
	text-align: center;
	padding-bottom: 10px;
}
.our-facts-card-inner .shiva span {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 37px;
	text-align: center;
	text-transform: capitalize;
	color: #FFFFFF;
}
.our-facts-card-inner .text-fun p {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 37px;
	text-transform: capitalize;
	color: #FFFFFF;
	margin: 0;
	text-align: center;
}
/* Our Facts section end */

/* Our Clients section start */
.our-clients-section {
	padding: 60px 0;
	background: #F2F2F2;
	position: relative;
}
.our-clients-section .clients-title {
	max-width: 1080px;
	margin: 0 auto;
}
.our-clients-section .clients-title h2 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 50px;
	line-height: 61px;
	text-transform: uppercase;
	text-align: center;
	color: #EE3237;
	margin: 0;
	padding-bottom: 20px;
}
.our-clients-section .clients-title p {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	text-transform: capitalize;
	color: #363435;
	margin: 0;
	padding-bottom: 60px;
}
.clients-card-wapper {
	padding: 30px;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}
.clients-card-wapper .clients-card-img-quote-wapper {
	display: flex;
	align-items: start;
	justify-content: space-between;
	width: 100%;
}
.clients-card-img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	overflow: hidden;
}
.clients-card-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.clients-card-quote {
	width: 60px;
	height: 60px;
}
.clients-card-quote img {
	width: 100%;
}
.clients-card-wapper .clients-card-inner p {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	color: #363435;
	margin: 0;
	padding: 25px 0;
}
.clients-card-wapper .clients-card-inner .clients-name-add h4 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: #EE3237;
	margin: 0;
	padding-bottom: 5px;
}
.clients-card-wapper .clients-card-inner .clients-name-add h6 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: #363435;
}
#h-clients-slider .owl-item.center .clients-card-wapper {
	opacity: 1;
	transform: scaleY(1);
}
#h-clients-slider .owl-item .clients-card-wapper {
	opacity: 0.6;
	transform: scaleY(0.9);
}
#h-clients-slider .owl-dots .owl-dot {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid #EE3237;
}
#h-clients-slider .owl-dots .owl-dot.active {
	background: #EE3237;
}
#h-clients-slider .owl-dots {
	margin-top: 60px;
	display: flex;
	justify-content: center;
	gap: 20px;
}
#h-clients-slider .owl-dots .owl-dot:focus {
	outline: none;
}
/* Our Clients section end */

/* faq section start */
.faq-section{ padding: 100px 0; position:relative; }
.faq-section .faq-wapper { max-width: 635px; margin: 0 auto; }
.faq-section .faq-wapper h2{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 50px;
	line-height: 61px;
	text-transform: uppercase;
	color: #EE3237;
	margin: 0;
	padding-bottom: 30px;
	text-align: center;
}
.faq_accordion_item {
	margin-bottom: 20px;
}
.faq_accordion_wapper a {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	flex-direction: column;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	color: #384049 !important;
}
.faq_accordion_wapper a {
	width: 95% !important;
}
.faq_accordion_wapper .faq_content {	
	display: none; 
	padding: 21px 0px 0px; 
	overflow: hidden; 
}
.faq_accordion_wapper .faq_content p { 
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #384049;
	margin: 0;
	padding: 0;
}
.faq_accordion_item .faq_menu::after {
	font-family: 'Font Awesome\ 5 Free';
	content: '\f078';
	position: absolute;
	right: 23px;
	top: 20px;
	font-size: 18px;
	color: #384049;
	text-align: center;
	font-weight: 900;
}
.faq_accordion_item.active{
	padding: 23px;
	background: #FFFFFF;
	box-shadow: 0px 10px 20px rgba(48, 62, 73, 0.2);
	border-radius: 4px;
}
.faq_accordion_item.active .faq_menu::after { content: '\f077'; }
.faq_accordion_item{
	position: relative;
	padding: 23px;
	background: #FFFFFF;
	box-shadow: 0px 10px 20px rgba(48, 62, 73, 0.2);
	border-radius: 4px;
}
.faq_accordion_item.active .faq_menu{ background-color: #fff; border-radius: 5px 5px 0px 0px; color: #000000; }
/* faq section end */

/* Industries We Serve section start */
.industries-serve-section { padding: 100px 0; position: relative; overflow: hidden; background: #fff; }
.industries-serve-section .industries-serve-title { max-width: 1080px; margin: 0 auto; }
.industries-serve-title h2 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 50px;
	line-height: 61px;
	text-transform: uppercase;
	color: #EE3237;
	text-align: center;
	margin: 0;
	padding-bottom: 20px;
}
.industries-serve-title p {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	text-transform: capitalize;
	color: #363435;
	margin: 0;
	padding-bottom: 60px;
}
.industries-serve-row {
	display: grid;
	grid-column-gap: 30px;
	grid-row-gap: 30px;
	grid-template-columns: repeat(4, 1fr);
}
.industries-card {
	width: 100%;
	padding: 20px 20px;
	display: none;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	background: #FFFFFF;
	box-shadow: 0px 0px 6px rgba(54, 52, 53, 0.1);
	border-radius: 6px;
	transition: all 0.5s ease-in-out;
}
.industries-card.active-1 { display:flex; }
.industries-card:hover { background: #fff; box-shadow: -5px 5px 15px 3px rgba(117.75, 110.83858695652175, 110.83858695652175, 0.5); }
.industries-card .industries-card-img {
	max-width: 60px;
	width: 100%;
	height: 60px;
	margin: auto;
	text-align: center;
	color: #EE3237;
	transition: all 0.5s ease-in-out;
}
.industries-card .industries-card-img img { width:100%; height:100%; max-width:unset; object-fit:contain; }
.industries-card .industries-card-inner h5 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	line-height: 27px;
	text-transform: capitalize;
	color: #363435;
	margin: 0;
	padding: 0;
	text-align: center;
	transition: all 0.5s ease-in-out;
}
.load-more-btn{ width:100%; text-align:center; margin-top:30px;  }
.load-more-btn button {
	padding: 20px 28px;
	background: #363435;
	border: 1px solid #363435;
	border-radius: 8px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 100%;
	color: #FFFFFF;
	transition: all 0.5s ease-in-out;
}
.load-more-btn button:hover { background: #EE3237; border: 1px solid #EE3237; }
.load-more-btn button:focus { outline:unset; }
/* Industries We Serve section end */

/* Contact Us Section satrt */
.contact-us-section { padding-top: 120px; position: relative; }
.contact-us-section:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 480px;
	top: 0;
	left: 0;
	background: linear-gradient(90deg, rgba(238, 50, 55, 0) 0%, #EE3237 39.38%);
}
.contact-us-section::before {
	content: '';
	width: 705px;
	height: 480px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: url(../img/2181304.jpg) no-repeat;
	background-size: cover;
	z-index: -1;
}
.contact-us-section .contact-us-row { display: flex; gap: 30px; position:relative;z-index:100; }
.contact-us-left, .contact-us-right { width: 50%; }
.contact-us-left { display: flex; flex-direction: column; justify-content: space-between; }
.contact-us-left-top { padding: 0 25px; }
.contact-us-left-top h2 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 46px;
	line-height: 56px;
	text-align: center;
	color: #FFFFFF;
	margin: 0;
	padding-bottom: 30px;
}
.contact-us-left-top .schedule-appointment-btn { display: flex; }
.contact-us-left-top .schedule-appointment-btn a {
	padding: 20px 28px;
	background: #FFFFFF;
	border: 1px solid #FFFFFF;
	border-radius: 8px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 100%;
	color: #EE3237;
	margin: 0 auto;
	transition: all 0.5s ease-in-out;
}
.contact-us-left-top .schedule-appointment-btn a:hover {
	background: #363435;
	border: 1px solid #363435;
	color: #FFFFFF;
}
.contact-us-left-bottom iframe {
	width: 100%;
	height: 282px;
	margin-bottom: -5px;
}
.contact-us-right-form-wapper {
	padding: 55px;
	background: #363435;
	border-radius: 8px;
}
.contact-us-right-form-wapper h4 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 34px;
	line-height: 41px;
	color: #FFFFFF;
	margin: 0;
	padding-bottom: 27px;
}
.contact-us-right-form-wapper form .form-group {
	margin-bottom: 20px;
}
.contact-us-right-form-wapper form .form-group input {
	padding: 14px 20px;
	height: 50px;
	background: #FFFFFF;
	border-radius: 6px;
	border: none;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #363435;
}
.contact-us-right-form-wapper form .form-group input:focus {
	outline: none;
	border: none;
	box-shadow: none;
}
.contact-us-right-form-wapper form .form-group textarea {
	padding: 14px 20px;
	background: #FFFFFF;
	border-radius: 6px;
	border: none;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #363435;
}
.contact-us-right-form-wapper form .form-group textarea:focus {
	outline: none;
	border: none;
	box-shadow: none;
}
.contact-us-right-form-wapper form .contact-btn {
	display: flex;
}
.contact-us-right-form-wapper form .contact-btn a {
	padding: 20px 28px;
	background: #FFFFFF;
	border: 1px solid #FFFFFF;
	border-radius: 8px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 100%;
	color: #EE3237;
	transition: all 0.5s ease-in-out;
}
.contact-us-right-form-wapper form .contact-btn a:hover {
	background: #EE3237;
	border: 1px solid #EE3237;
	color: #FFFFFF;
}
.contact-us-right-form-wapper form .contact-btn a span {
	margin-left: 12px;
}
/* Contact Us Section end */

/* Newsletter Section start */
.newsletter-section { padding: 100px 0; position: relative; }
.newsletter-section .newsletter-wapper {
	width: 100%;
	padding: 50px 0;
	background: #FFFFFF;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
}
.newsletter-section .newsletter-wapper .newsletter-inner {
	max-width: 907px;
	margin: 0 auto;
}
.newsletter-inner h2 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 50px;
	line-height: 61px;
	text-align: center;
	color: #EE3237;
	margin: 0;
	padding-bottom: 20px;
}
.newsletter-inner p {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	color: #363435;
	margin: 0;
	padding-bottom: 20px;
}
.newsletter-subscribe form {
	display: flex;
	align-items: center;
	padding: 5px 6px;
	background: #FFFFFF;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	width: 100%;
	height: 100px;
}
.newsletter-subscribe form .form-group {
	margin: 0;
	padding: 0;
	width: 80%;
	height: 100%;
}
.newsletter-subscribe form .form-group input {
	border: none;
	padding: 31px 30px;
	box-shadow: none;
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 38px;
	color: #363435;
}
.newsletter-subscribe form .form-group input::placeholder {
	opacity: 1;
	color: #363435;
}
.newsletter-subscribe form .subscribe-btn {
	margin: 0;
	padding: 0;
	width: 22%;
	height: 100%;
	display: flex;
}
.newsletter-subscribe form .subscribe-btn a {
	background: #363435;
	border-radius: 6px;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 28px;
	line-height: 35px;
	color: #FFFFFF;
	transition: all 0.5s ease-in-out;
}
.newsletter-subscribe form .subscribe-btn a:hover {
	background: #EE3237;
}
/* Newsletter section end */

@media(max-width: 1399px) {
	/* Life at Icon section start */
	.core-values-card-wapper { padding: 19px; }
	/* Life at Icon section end */
}

@media(max-width: 1199px) {
	/* page banner section start */
	.page-banner-section .page-banner-wapper h2 { font-size: 71px; line-height: 84px; padding: 0 0 30px 0; }
	/* page banner section end */

	/* About Us section start */
	.about-right { height: 460px; }
	.about-right-border { height: 350px; left: 73px; }
	.about-right-icon { width: 44%; height: auto; bottom: 50px; padding: 20px 5px 0; }
	/* About Us section end */

	/* Life at Icon section start */
	.core-values-card-wapper { padding: 10px; gap: 20px; }
	/* Life at Icon section end */

	/* Our Clients section start */
	.our-clients-section .clients-title { padding: 0 15px; }
	/* Our Clients section end */

	/* contact us section start */
	.contact-us-section::before, .contact-us-section::after { height:450px; }
	.contact-us-left .contact-us-left-top { padding: 0px; }
	.contact-us-left .contact-us-left-top h2 { font-size: 45px; line-height: 55px; padding-bottom: 30px; }
	.contact-us-right .contact-us-right-form-wapper { padding: 40px; }
	.contact-us-left .contact-us-left-bottom iframe { margin-bottom: -6px; }
	/* contact us section end */

	/* Newsletter section start */
	.newsletter-section .newsletter-wapper .newsletter-inner { max-width: 815px; margin: 0 auto; }
	/* Newsletter section end */
}

@media(max-width: 991px) {
	/* page banner section start */
	.page-banner-section .page-banner-wapper h2 { font-size: 55px; line-height: 60px; padding: 0 0 20px 0; }
	/* page banner section end */

	/* About Us section start */
	.about-section .about-row { flex-direction: column; }
	.about-left, .about-right { width: 100%; }
	.about-right { height: 500px; }
	.about-right .about-right-icon { width: 44%; height: auto; bottom: 50px; padding: 20px 5px 0; }
	.about-right .about-right-border { height: 350px; left: 110px; }
	.about-section::before {
		width: 130px;
		height: 400px;
		left: 0;
		bottom: auto;
		top: 200px;
	}
	/* About Us section end */

	/* Core Purpose section start */
	.core-purpose-section .experiences-card-wapper { margin-bottom: 30px; }
	.core-purpose-section .core-purpose-title p { font-size: 22px; line-height: 27px; padding-bottom: 60px; }
	/* Core Purpose section end */

	/* Life at Icon section start */
	.life-at-icon-section .life-row { grid-template-columns: repeat(2, 1fr); }
	.life-at-icon-section .life-at-icon-title p { font-size: 22px; line-height: 27px; padding-bottom: 60px; }
	.core-values-card-wapper { padding: 0; gap: 20px; }
	.life-at-icon-section .life-at-icon-title h2 { font-size: 40px; line-height: 49px; padding-bottom: 20px; }
	/* Life at Icon section end */

	/* Our Facts section start */
	.our-facts-section .our-facts-title h2 { padding-bottom: 30px; }
	.our-facts-section .our-facts-row { grid-template-columns: repeat(2, 1fr); }
	.our-facts-card-wapper { padding: 20px 0; }
	/* Our Facts section end */

	/* Industries We Serve section start */
	.industries-serve-row { grid-template-columns: repeat(3, 1fr); }
	/* Industries We Serve section end */

	/* contact us section start */
	.contact-us-section .contact-us-left, .contact-us-section .contact-us-right { width: 100%; }
	.contact-us-section .contact-us-row { flex-direction: column; }
	.contact-us-section .contact-us-row .contact-us-left { gap: 20px; }
	/* contact us section end */

	/* Newsletter section start */
	.newsletter-section .newsletter-wapper { padding: 50px 30px; }
	.newsletter-subscribe form { height: 90px; }
	.newsletter-subscribe form .subscribe-btn a { font-size: 22px; }
	.newsletter-subscribe form .subscribe-btn { width: 25%; }
	.newsletter-subscribe form .form-group input { padding: 30px 15px; font-size: 28px; }
	/* Newsletter section end */
}

@media(max-width: 767px) {
	/* page banner section start */
	.page-banner-section .page-banner-wapper { padding: 100px 0; }
	.page-banner-section::after { border-radius: 0px 0px 0px 250px; }
	.page-banner-section::before { width: 130px; height: 150px; left: 15px; bottom: 15px; }
	.page-banner-section .page-banner-wapper h2 { font-size: 40px; line-height: 50px; padding: 0 0 20px 0; }
	.page-banner-section .page-banner-wapper ul li a { font-size: 18px; line-height: 22px; }
	.page-banner-section .page-banner-wapper ul li { font-size: 18px; line-height: 22px; }
	/* page banner section end */

	/* About Us section start */
	.about-section { padding: 50px 0; }
	.about-right { height: auto; }
	.about-right .about-right-border { display: none; }
	.about-right .about-right-img { width: 100%; max-width: 100%; height: auto; position: static; }
	.about-right .about-right-icon {
		width: 100%;
		height: auto;
		position: relative;
		padding: 20px 5px 0;
		margin-top: 20px;
		text-align: center;
	}
	.about-right .about-right-icon img { background-color:#fff; margin:auto; }
	.about-left h2 { font-size: 29px; line-height: 38px; padding: 18px 0; }
	.about-left h4 { font-size: 20px; line-height: 20px; }
	.about-left p { font-size: 18px; line-height: 24px; padding-bottom: 20px; }
	.about-left .about-btn a { padding: 12px 20px; font-size: 18px; }
	.about-section::before { top: 100px; }
	/* About Us section end */

	/* Core Purpose section start */
	.core-purpose-section { padding: 30px 0 10px 0; }
	.core-purpose-section .core-purpose-title h2 { font-size: 29px; line-height: 38px; padding-bottom: 15px; }
	.core-purpose-section .core-purpose-title p { font-size: 18px; line-height: 24px; padding-bottom: 30px; }
	.core-purpose-section .experiences-card-wapper h4 { padding: 8px 0 15px 0; }
	.core-purpose-section .experiences-card-wapper { margin-bottom: 20px; padding: 20px; }
	/* Core Purpose section end */

	/* Life at Icon section start */
	.life-at-icon-section { padding: 50px 0; }
	.life-at-icon-section .life-row { grid-template-columns: repeat(1, 1fr); grid-row-gap: 20px; }
	.life-at-icon-section .life-at-icon-title p { font-size: 18px; line-height: 24px; padding-bottom: 40px; }
	.core-values-card-wapper { gap: 15px; }
	.life-at-icon-section .life-at-icon-title h2 { font-size: 27px; line-height: 30px; padding-bottom: 15px; }
	.core-values-card-wapper .core-values-card-inner h3 a { font-size: 23px; line-height: 29px; }
	.core-values-card-wapper .core-values-card-inner p { font-size: 17px; line-height: 20px; padding-top: 12px; }
	/* Life at Icon section end */

	/* Our Facts section start */
	.our-facts-section { padding: 40px 0; }
	.our-facts-section .our-facts-title h2 { font-size: 30px; line-height: 36px; padding-bottom: 20px; }
	.our-facts-section .our-facts-row { grid-template-columns: repeat(1, 1fr); grid-column-gap: 20px; grid-row-gap: 20px; }
	.our-facts-card-wapper { padding: 0px 0; gap: 10px; }
	.our-facts-card-wapper .our-facts-card-inner .shiva { padding-bottom: 6px; }
	.our-facts-card-wapper .our-facts-card-inner .text-fun p { font-size: 22px; line-height: 27px; }
	.our-facts-card-wapper .our-facts-card-inner .shiva span { font-size: 28px; line-height: 34px; }
	/* Our Facts section end */

	/* Our Clients section start */
	.our-clients-section { padding: 30px 0; }
	.our-clients-section .clients-title h2 { font-size: 30px; line-height: 36px; padding-bottom: 18px; }
	.our-clients-section .clients-title p { font-size: 18px; line-height: 22px; padding-bottom: 26px; }
	.clients-inner-wapper { padding: 0 15px; }
	#h-clients-slider .owl-item .clients-card-wapper { opacity: 1; transform: scaleY(1); }
	#h-clients-slider .owl-dots { margin-top: 20px; gap: 10px; }
	/* Our Clients section end */

	/* faq section start */
	.faq-section { padding: 50px 0 30px 0; }
	.faq-section .faq-wapper h2 { font-size: 30px; line-height: 36px; padding-bottom: 20px; }
	.faq_accordion_item.active { padding: 15px; }
	.faq_accordion_item { padding: 15px; }
	.faq_accordion_item .faq_menu::after { right: 15px; top: 12px; }
	/* faq section end */

	/* Industries We Serve section start */
	.industries-serve-section { padding: 50px 0; margin-bottom: 50px;}
	.industries-serve-title h2 { font-size: 28px; line-height: 34px; padding-bottom: 18px; }
	.industries-serve-title p { font-size: 18px; line-height: 22px; padding-bottom: 24px; }
	.industries-serve-row { grid-template-columns: repeat(1, 1fr); grid-column-gap: 20px; grid-row-gap: 20px; }
	.industries-serve-row .industries-card .industries-card-inner h5 { font-size: 20px; line-height: 24px; }
	/* Industries We Serve section end */

	/* contact us section start */
	.contact-us-section { padding: 50px 0; }
	.contact-us-section .contact-us-row { gap: 20px; }
	.contact-us-left .contact-us-left-top h2 { font-size: 25px; line-height: 32px; padding-bottom: 16px; }
	.contact-us-right .contact-us-right-form-wapper { padding: 20px; }
	.contact-us-left .contact-us-left-top .schedule-appointment-btn a { padding: 14px 20px; font-size: 18px; }
	.contact-us-right .contact-us-right-form-wapper form .contact-btn a { padding: 14px 20px; font-size: 18px; }
	.contact-us-section::before, .contact-us-section::after { width:100%; }
	/* contact us section end */

	/* Newsletter section start */
	.newsletter-section { padding: 50px 0; }
	.newsletter-wapper { padding: 30px 20px; }
	.newsletter-wapper .newsletter-inner h2 { font-size: 24px; line-height: 30px; padding-bottom: 14px; }
	.newsletter-wapper .newsletter-inner p { font-size: 18px; line-height: 24px; padding-bottom: 15px; }
	.newsletter-subscribe form { height: auto; flex-direction: column; gap: 20px; box-shadow: none; }
	.newsletter-subscribe form .form-group { margin: 0; padding: 0; width: 100%; height: auto; }
	.newsletter-subscribe form .form-group input { padding: 15px 10px; font-size: 18px; box-shadow: 0px 4px 20px 0px #0000001A; border-radius: 10px; }
	.newsletter-subscribe form .subscribe-btn { width: 100%; }
	.newsletter-subscribe form .subscribe-btn a {
		width: auto;
		height: auto;
		padding: 12px 20px;
		margin: 0 auto;
		font-size: 18px;
		line-height: 22px;
	}
	/* Newsletter section end */
}
@media(min-width:1400px) {
	.container { width: 1240px; }
}