* { margin: 0; padding: 0; box-sizing: border-box; }
a:hover { text-decoration: none; }

/* page banner section start */
.page-banner-section { position: relative; background-size: cover; background-position: center; background: #EE3237; }
.page-banner-section::after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(54, 52, 53, 0.8),rgba(54, 52, 53, 0.8)), url(../img/people-call-center-and-portrait-smile-for-telemar-2023-11-27-05-20-59-utc.jpg) no-repeat;
	background-size: cover;
	background-position:50% 27%;
	border-radius: 0px 0px 0px 360px;
}
.page-banner-section::before{
	content: '';
	width: 150px;
	height: 160px;
	position: absolute;
	left: 25px;
	bottom: 27px;
	background: url(../img/Spiral\ 1.png) no-repeat;
	background-size: cover;
}
.page-banner-section .page-banner-wapper {
	padding: 137px 0;
	max-width: 1014px;
	margin: 0 auto;
	position: relative;
	z-index: 9;
}
.page-banner-section .page-banner-wapper h2 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 80px;
	line-height: 98px;
	color: #FFFFFF;
	margin: 0;
	padding: 0 0 30px 0;
	text-align: center;
}
.page-banner-section .page-banner-wapper ul {
	margin: 0;
	padding: 0;
	display: flex;
	gap: 10px;
	list-style: none;
	justify-content: center;
	align-items: center;
}
.page-banner-section .page-banner-wapper ul li a {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 27px;
	color: #FFFFFF;
}
.page-banner-section .page-banner-wapper ul li {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 27px;
	color: #FFFFFF;
}
/* page banner section end */

/* contact-us-section start */
.contact-us-section{ padding: 100px 0; position: relative; }
.contact-us-section .contact-us-left-map iframe { width: 100%; height: 487px; }
.contact-us-right-wapper h3 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 50px;
	line-height: 55px;
	text-transform: uppercase;
	color: #EE3237;
	margin: 0;
	padding-bottom: 20px;
}
.contact-us-right-wapper .contact-us-right-number ul, .contact-us-right-wapper .contact-us-right-email ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 16px;
	list-style: none;
}
.contact-us-right-wapper .contact-us-right-number ul li span, .contact-us-right-wapper .contact-us-right-email ul li span {
	margin-right: 10px;
	font-size: 18px;
	line-height: 21px;
	color: #363435;
}
.contact-us-right-wapper .contact-us-right-number ul li a, .contact-us-right-wapper .contact-us-right-email ul li a {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	color: #363435;
}
.contact-us-right-number, .contact-us-right-email {
	margin-bottom: 30px;
}
.contact-us-right-wapper .contact-us-right-social ul {
	margin: 0;
	padding: 0;
	display: flex;
	gap: 10px;
	list-style: none;
}
.contact-us-right-wapper .contact-us-right-social ul li a {
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	overflow: hidden;
	font-size: 16px;
	line-height: 18px;
	color: #FFFFFF;
}
/* contact-us-section end */

/* Get in touch section start  */
.get-in-touch-section { padding: 60px 0; background: #363435; }
.get-in-touch-section .get-in-title h3 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 33px;
	line-height: 40px;
	color: #FFFFFF;
	margin: 0;
	padding-bottom: 27px;
}
.get-in-touch-form-wapper form .form-group {
	margin-bottom: 20px;
}
.get-in-touch-form-wapper form .form-group input {
	width: 100%;
	height: 50px;;
	padding: 14px 20px;
	background: #FFFFFF;
	border-radius: 6px;
	border: none;
	box-shadow: none;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #363435;
}
.get-in-touch-form-wapper form .form-group textarea {
	width: 100%;
	padding: 14px 20px;
	background: #FFFFFF;
	border-radius: 6px;
	border: none;
	box-shadow: none;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #363435;
}
.get-in-touch-form-wapper form .send-btn{
	display: flex;
}
.get-in-touch-form-wapper form .send-btn a{
	padding: 20px 58px;
	background: #FFFFFF;
	border: 1px solid #FFFFFF;
	border-radius: 8px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 100%;
	color: #EE3237;
	transition: all 0.5s ease-in-out;
}
.get-in-touch-form-wapper form .send-btn a:hover{
	background: #EE3237;
	color: #FFFFFF;
	border-color: #EE3237;
}
.get-in-touch-form-wapper form .send-btn a span{
	margin-left: 12px;
}
.offices-centers-wapper .offices-card-wapper{
	padding: 30px;
	background: #FFFFFF;
	border-radius: 8px;
	margin-bottom: 27px;
}
.offices-centers-wapper .offices-card-wapper:last-child{
	margin-bottom: 0;
}
.offices-card-wapper .offices-city{
	display: flex;
	align-items: center;
	margin-bottom: 14px;
}
.offices-card-wapper .offices-city span{
	margin-right: 16px;
	line-height: 0;
}
.offices-card-wapper .offices-city span img{
	width: 100%;
}
.offices-card-wapper .offices-city h4{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 34px;
	line-height: 41px;
	color: #363435;
	margin: 0;
	padding: 0;
}
.offices-address{
	display: flex;
	gap: 16px;
	align-items: start;
}
.offices-address span{
	font-size: 20px;
	line-height: 23px;
	color: #000000;
}
.offices-address p {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #363435;
	margin: 0;
	padding: 0;
}
/* Get in touch section end  */

/* Industries We Serve section start */
.industries-serve-section { padding: 100px 0; position: relative; overflow: hidden; }
.industries-serve-section .industries-serve-title { max-width: 1080px; margin: 0 auto; }
.industries-serve-title h2 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 50px;
	line-height: 61px;
	text-transform: uppercase;
	color: #EE3237;
	text-align: center;
	margin: 0;
	padding-bottom: 20px;
}
.industries-serve-title p {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	text-transform: capitalize;
	color: #363435;
	margin: 0;
	padding-bottom: 60px;
}
.industries-serve-row {
	display: grid;
	grid-column-gap: 30px;
	grid-row-gap: 30px;
	grid-template-columns: repeat(4, 1fr);
}
.industries-card {
	width: 100%;
	padding: 20px 20px;
	display: none;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	background: #FFFFFF;
	box-shadow: 0px 0px 6px rgba(54, 52, 53, 0.1);
	border-radius: 6px;
	transition: all 0.5s ease-in-out;
}
.industries-card.active-1 { display:flex; }
.industries-card:hover { background: #fff; box-shadow: -5px 5px 15px 3px rgba(117.75, 110.83858695652175, 110.83858695652175, 0.5); }
.industries-card .industries-card-img {
	max-width: 60px;
	width: 100%;
	height: 60px;
	margin: auto;
	text-align: center;
	color: #EE3237;
	transition: all 0.5s ease-in-out;
}
.industries-card .industries-card-img img { width:100%; height:100%; max-width:unset; object-fit:contain; }
.industries-card .industries-card-inner h5 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	line-height: 27px;
	text-transform: capitalize;
	color: #363435;
	margin: 0;
	padding: 0;
	text-align: center;
	transition: all 0.5s ease-in-out;
}
.load-more-btn{ width:100%; text-align:center; margin-top:30px;  }
.load-more-btn button {
	padding: 20px 28px;
	background: #363435;
	border: 1px solid #363435;
	border-radius: 8px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 100%;
	color: #FFFFFF;
	transition: all 0.5s ease-in-out;
}
.load-more-btn button:hover { background: #EE3237; border: 1px solid #EE3237; }
.load-more-btn button:focus { outline:unset; }
/* Industries We Serve section end */

@media(max-width: 1399px) {
	/* Get in touch section end  */
	.get-in-touch-section .get-in-title h3 {
		font-size: 30px;
		line-height: 40px;
		padding-bottom: 27px;
	}
	/* Get in touch section start  */
}

@media(max-width: 1199px) {
	/* page banner section start */
	.page-banner-section .page-banner-wapper h2 {
		font-size: 71px;
		line-height: 84px;
		padding: 0 0 30px 0;
	}
	/* page banner section end */

	/* contact-us-section start */
	.contact-us-section .contact-us-right-wapper h3 {
		font-size: 45px;
		line-height: 55px;
		padding-bottom: 20px;
	}
	/* contact-us-section end */

	/* Get in touch section start  */
	.get-in-touch-section .get-in-title h3 {
		font-size: 25px;
		line-height: 30px;
		padding-bottom: 27px;
	}
	.offices-centers-wapper .offices-card-wapper {
		padding: 23px;
		background: #FFFFFF;
		border-radius: 8px;
		margin-bottom: 27px;
	}
	/* Get in touch section end  */
}

@media(max-width: 991px) {
	/* page banner section start */
	.page-banner-section .page-banner-wapper h2 {
		font-size: 55px;
		line-height: 60px;
		padding: 0 0 20px 0;
	}
	/* page banner section end */

	/* contact-us-section start */
	.contact-us-section { padding: 70px 0; }
	.contact-us-right-wapper { margin-top: 30px; }
	/* contact-us-section end */

	/* Get in touch section start  */
	.get-in-touch-section .row { flex-direction: column-reverse; gap: 30px; }
	/* Get in touch section end  */

	/* Industries We Serve section start */
	.industries-serve-row { grid-template-columns: repeat(3, 1fr); }
	/* Industries We Serve section end */

}
@media(max-width: 767px) {
	/* page banner section start */
	.page-banner-section .page-banner-wapper {
		padding: 100px 0;
	}
	.page-banner-section::after {
		border-radius: 0px 0px 0px 250px;
	}
	.page-banner-section::before {
		width: 130px;
		height: 150px;
		left: 15px;
		bottom: 15px;
	}
	.page-banner-section .page-banner-wapper h2 {
		font-size: 40px;
		line-height: 50px;
		padding: 0 0 20px 0;
	}
	.page-banner-section .page-banner-wapper ul li a {
		font-size: 18px;
		line-height: 22px;
	}
	.page-banner-section .page-banner-wapper ul li{
		font-size: 18px;
		line-height: 22px;
	}
	/* page banner section end */

	/* contact-us-section start */
	.contact-us-section { padding: 50px 0; }
	.contact-us-right-wapper{ margin-top: 20px; }
	.contact-us-right-wapper h3 { font-size: 32px; line-height: 38px; padding-bottom: 15px; }
	.contact-us-right-wapper .contact-us-right-number ul li span, .contact-us-right-wapper .contact-us-right-email ul li span {
		font-size: 16px;
		line-height: 19px;
	}
	.contact-us-right-wapper .contact-us-right-number ul li a, .contact-us-right-wapper .contact-us-right-email ul li a {
		font-size: 16px;
		line-height: 20px;
	}
	.contact-us-right-number, .contact-us-right-email { margin-bottom: 20px; }
	/* contact-us-section end */

	/* Get in touch section start  */
	.get-in-touch-section { padding: 30px 0; }
	.get-in-touch-section .get-in-title h3 { font-size: 25px; line-height: 30px; padding-bottom: 20px; }
	.offices-card-wapper .offices-city h4 {	 font-size: 30px; line-height: 38px; }
	.offices-address p { font-size: 18px; line-height: 22px; }
	.offices-centers-wapper .offices-card-wapper { padding: 20px; margin-bottom: 20px; }
	/* Get in touch section end  */
	
	/* Industries We Serve section start */
	.industries-serve-section { padding: 50px 0; }
	.industries-serve-title h2 { font-size: 28px; line-height: 34px; padding-bottom: 18px; }
	.industries-serve-title p { font-size: 18px; line-height: 22px; padding-bottom: 24px; }
	.industries-serve-row { grid-template-columns: repeat(1, 1fr); grid-column-gap: 20px; grid-row-gap: 20px; }
	.industries-serve-row .industries-card .industries-card-inner h5 { font-size: 20px; line-height: 24px; }
	/* Industries We Serve section end */
}
@media(min-width:1400px) {
	.container { width: 1240px; }
}