body { margin:0; padding:0; font-family: "Inter", sans-serif; }
a:hover { text-decoration:none; }

/* header css start */
.h-home-wapper { position:relative; background-color:#F23005; }
.h-toggle-btn { display:none; }

.h-header-nav { display:flex; flex-direction:row; justify-content:space-between; align-items:center; }
.h-header-logo { max-width:176px; width:100%; }
.h-header-logo img { max-width:unset; width:100%; height:auto; object-fit:contain; }
.h-main-menu ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	gap: 30px;
	align-items: center;
}
.h-main-menu ul li { list-style-type:none; }
.h-main-menu ul li:nth-last-child(-n+2) { display:none; }
.h-main-menu ul li a {
	font-family: Keep Calm;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.2px;
	text-align: center;
	color: #fff;
	display: block;
	padding: 40px 0;
}

.right-menu-wapper { display:flex; align-items:center; gap:30px; flex-direction:row; }
.right-menu-wapper .login-btn {
	font-family: Inter;
	font-size: 16px;
	font-weight: 700;
	line-height: 19.36px;
	text-align: center;
	color: #FFFFFF;
}
.right-menu-wapper .talk-us-btn {
	border: 1px solid #FFFFFF;
	font-family: Inter;
	font-size: 16px;
	font-weight: 700;
	line-height: 19.36px;
	text-align: center;
	color: #fff;
	padding: 20px 24px;
	border-radius: 6px;
}

/*header css end */

/* footer css start */
.footer-wapper { position: relative; padding-top: 56px; }
.footer-top-wapper { padding-bottom:37px; border-bottom:1px solid #EBEBEB; }
.footer-top-a-card { position:relative; padding-bottom:21px; }
.footer-top-logo { max-width: 176px; width: 100%; margin-bottom:20px; }
.footer-top-logo img { max-width:unset; width:100%; height:auto; object-fit:contain; }
.footer-top-a-text p {
	margin: 0;
	font-family: Inter;
	font-size: 18px;
	font-weight: 500;
	line-height: 27px;
	text-align: left;
	color: #5A6B72;
}
.footer-social-icon h4 {
	margin: 0;
	font-family: Inter;
	font-size: 22px;
	font-weight: 700;
	line-height: 33px;
	text-align: left;
	color: #0F0E17;
	margin-bottom: 21px;
}
.footer-social-icon ul { margin:0; padding:0; display:flex; flex-direction:row; align-items:center; gap:30px; }
.footer-social-icon ul li { list-style-type:none; }
.footer-social-icon ul li a img { max-width:unset; width:24px; height:24px; object-fit:contain; }

.footer-menu-wapper h4 {
	margin: 0;
	font-family: Inter;
	font-size: 22px;
	font-weight: 700;
	line-height: 33px;
	text-align: left;
	color: #0F0E17;
	padding-bottom: 13px;
}
.footer-menu-wapper ul { padding:0; display:flex; flex-direction:column; gap:10px; }
.footer-menu-wapper ul li { list-style-type:none; }
.footer-menu-wapper ul li a {
	display: block;
	font-family: Inter;
	font-size: 18px;
	font-weight: 500;
	line-height: 43.2px;
	text-align: left;
	color: #5A6B72;
}
.footer-menu-wapper ul li a:hover { color:#F23005; }
.footer-contact-wapper h4 {
	margin: 0;
	font-family: Inter;
	font-size: 22px;
	font-weight: 700;
	line-height: 33px;
	text-align: left;
	color: #0F0E17;
	padding-bottom: 13px;
}
.footer-contact-wapper p {
	font-family: Inter;
	font-size: 18px;
	font-weight: 500;
	line-height: 43.2px;
	text-align: left;
	color: #5A6B72;
	margin: 0;
}
.footer-contact-wapper a {
	font-family: Inter;
	font-size: 18px;
	font-weight: 500;
	line-height: 43.2px;
	text-align: left;
	color: #05C7F2;
}
.footre-bottom-wapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 29px;
	position: relative;
	padding-bottom: 34px;
}
.footre-bottom-wapper p {
	margin: 0;
	font-family: Inter;
	font-size: 18px;
	font-weight: 500;
	line-height: 27px;
	text-align: left;
	color: #5A6B72;
}
.footre-bottom-wapper ul { padding:0; margin:0; display:flex; flex-direction:row; align-items:center; gap:8px; }
.footre-bottom-wapper ul li { 
	list-style-type:none; 
	font-family: Inter;
	font-size: 18px;
	font-weight: 500;
	line-height: 27px;
	color: #5A6B72;
}
.footre-bottom-wapper ul li a { color:#5A6B72; }
/* footer css end */

@media (max-width:991px){
	/* header css start */ 
	.h-home-wapper { height:60px; display: flex; align-items: center; justify-content: space-between; }
	.h-header-main  { width:100%; }
	.h-header-menu .h-toggle-btn {
		margin-right: 16px;
		width: 18px;
		height: 16px;
		position: relative;
		-webkit-transition: .5s ease-in;
		-o-transition: .5s ease-in;
		transition: .5s ease-in;
		cursor: pointer;
		display: inline-block;
	}
	.h-header-menu .line-card {
		width: 100%;
		height: 3px;
		background:#fff;
		margin: 4px auto;
		transition: all 0.3s;
		backface-visibility: hidden;
	}
	#h-toggle-btn.open .one { transform: rotate(45deg) translate(2px, 5px); }
	#h-toggle-btn.open .two { opacity: 0; }
	#h-toggle-btn.open .three { transform: rotate(-45deg) translate(5px, -8px); }
	#h-sidebar-wrapper {
		z-index: 1000;
		position: fixed;
		right: 0;
		width: 0;
		height: 100vh;
		margin-left: 0;
		background: #F23005;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
		visibility: hidden;
		opacity: 0;
		top: 60px;
	}
	#h-sidebar-wrapper.h-menu-active { width:270px; opacity: 1; visibility: visible; }
	.m-overlay-bg {  display: none; position: fixed; width: 100%; height: 100%; background: rgba(86, 86, 86, 0.4); z-index: 1000; transition: all 0.5s ease-in-out; }
	.m-overlay-bg.h-bg-active { display: block; width: 100%; left: auto; top: 0; cursor: pointer; }
	.open-nav { overflow: hidden; }
	.h-main-menu ul { flex-direction:column; align-items:flex-start; gap:20px; padding-top:30px; }
	.h-main-menu ul li:nth-last-child(-n+2) { display:block; }
	.h-main-menu ul li a { padding:0 20px; text-align:left; }
	.right-menu-wapper .login-btn, .right-menu-wapper .talk-us-btn, .right-menu-wapper { display:none; }
	/* header css end */ 
}

@media(max-width:767px){
	.footre-bottom-wapper { flex-direction:column; }
	.footre-bottom-wapper ul {flex-flow:row wrap; margin-top:10px; }
}

@media(min-width: 992px) {
	.footer-top-wapper .col-lg-4 { -ms-flex: 0 0 32.333333%; flex: 0 0 32.333333%; max-width: 32.333333%; }
	.footer-top-wapper .col-lg-2 { -ms-flex: 0 0 17.666667%; flex: 0 0 17.666667%; max-width: 17.666667%; }
}
@media(min-width:1240px){
	.container.w-1178 { max-width:1178px; }
}
