body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:hover {
    text-decoration: none;
}



/* zoog vpn section start */

.zoog-vpn-wapper{
    padding: 100px 0;
}
.zoog-vpn-wapper .row{
    row-gap: 30px;
}
.zoog-vpn-card-wapper{
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
}
.zoog-vpn-card-wapper .zoog-vpn-card-img-wapper{
    position: relative;
    background: #E5F0FF;
    border-radius: 6px 6px 0px 0px;
    padding: 20px 0;
}
.zoog-vpn-card-wapper .zoog-vpn-card-img-wapper img {
	max-height: 60px;
	object-fit: cover;
	margin: 0 auto;
	display: flex;
}
.zoog-vpn-card-wapper .zoog-vpn-card-img-wapper span.zoog-number{
    background: #000000;
    border-radius: 6px 0px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 0;
}

.zoog-vpn-card-wapper .zoog-vpn-card-img-wapper span.editor-choice-span{
    background: #006BFF;
    padding: 12px 14px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    color: #FFFFFF;
    position: absolute;
    right: -16px;
    top: -18px;
}
.zoog-vpn-card-wapper .zoog-vpn-card-img-wapper span.editor-choice-span::before {
	content: '';
	width: 15px;
	height: 15px;
	background: url(../img/right_shap.png) no-repeat;
	display: flex;
	position: absolute;
	right: 0;
	bottom: -15px;
}


.zoog-vpn-card-wapper .zoog-vpn-card-inner-wapper{
    padding: 16px 20px;
}
.zoog-vpn-card-wapper .zoog-vpn-card-inner-wapper h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #006BFF;
    margin: 0;
    padding-bottom: 16px;
}
.zoog-vpn-card-wapper .zoog-vpn-card-inner-wapper .zoog-rating-wapper{
    padding: 4px 19px;
    background: rgba(0, 107, 255, 0.1);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}
.zoog-vpn-card-wapper .zoog-vpn-card-inner-wapper .zoog-rating-wapper h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #08C2FF;
    margin: 0;
    padding: 0;
}
/* STAR REATING */
.vvp-ppc-stars-rating { unicode-bidi:bidi-override; direction:ltr; font-size:15px; display: flex; gap: 3px; justify-content: center; }
.vvp-ppc-stars-rating span.star { font-family:'Font Awesome 5 Free'; font-weight:normal; font-style:normal; display:inline-block; }
.vvp-ppc-stars-rating span.star:hover { cursor:pointer; }
.vvp-ppc-stars-rating span.star:before { content:"\f005"; padding-right:1px; color:#08C2FF; }
.vvp-ppc-stars-rating span.star.filled:before { font-weight: 900; color:#08C2FF; content:"\f005"; }
.vvp-ppc-stars-rating span.star.half-filled:before { content:"\f089"; color:#08C2FF; }
.vvp-ppc-stars-rating span.star.half-filled:after { content:"\f005"; color:#08C2FF; margin-left:-19px; }
/* STAR REATING */
.zoog-vpn-card-wapper .zoog-vpn-card-inner-wapper .zoog-rating-wapper .zoog-rating{
    display: flex;
    align-items: center;
    gap: 7px;
}
.zoog-vpn-card-wapper .zoog-vpn-card-inner-wapper .zoog-rating-wapper .zoog-rating h6{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
    margin: 0;
    padding: 0;
}
.zoog-vpn-card-wapper .zoog-vpn-card-inner-wapper .zoog-Security-wapper{
    margin-bottom: 16px;
}
.zoog-vpn-card-wapper .zoog-vpn-card-inner-wapper .zoog-Security-wapper h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #08C2FF;
    margin: 0;
    padding-bottom: 8px;
}
.zoog-vpn-card-wapper .zoog-vpn-card-inner-wapper .zoog-Security-wapper ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}
.zoog-vpn-card-wapper .zoog-vpn-card-inner-wapper .zoog-Security-wapper ul li{
    position: relative;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    padding-left: 20px;
}
.zoog-vpn-card-wapper .zoog-vpn-card-inner-wapper .zoog-Security-wapper ul li::before{
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    width: 16px;
    height: 16px;
    background: url(../img/chevron-forward-circle-outline.png) no-repeat;
}
.zoog-vpn-card-wapper .zoog-vpn-card-inner-wapper .zoog-url-btn-wapper{
    display: flex;
}
.zoog-vpn-card-wapper .zoog-vpn-card-inner-wapper .zoog-url-btn-wapper a{
    width: 100%;
    padding: 11px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #006BFF;
    border-radius: 6px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}
/* zoog vpn section end */


/* Digital Currency Section start */
.digital-currency-section .row{
    row-gap: 30px;
}
.digital-currency-card-wapper{
background: #FFFFFF;
box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.16);
border-radius: 6px;
overflow: hidden;
}
.digital-currency-card-wapper .digital-currency-card-img-wapper{
    position: relative;
}
.digital-currency-card-wapper .digital-currency-card-img-wapper span.vpn_span{
    padding: 5px 20px;
    border-radius: 6px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    position: absolute;
    left: 8px;
    top: 8px;
    cursor: pointer;
}
.digital-currency-card-wapper .digital-currency-card-img-wapper span.bg-FFF100{
    background: #FFF100;
}
.digital-currency-card-wapper .digital-currency-card-img-wapper span.post_date{
    padding: 11px 28px;
    background: #08C2FF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    position: absolute;
    right: 0;
    bottom: 0;
}
.digital-currency-card-wapper .digital-currency-card-img-wapper img{
    width: 100%;
    max-height: 272px;
}
.digital-currency-card-wapper .digital-currency-card-inner-wapper{
    padding: 20px;
}
.digital-currency-card-wapper .digital-currency-card-inner-wapper ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none; 
}
.digital-currency-card-wapper .digital-currency-card-inner-wapper ul li .author-name-img{
    display: flex;
    align-items: center;
    gap: 8px;
}
.digital-currency-card-wapper .digital-currency-card-inner-wapper ul li .author-name-img a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #222222;
}
.digital-currency-card-wapper .digital-currency-card-inner-wapper ul li .author-name-img span img{
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.digital-currency-card-wapper .digital-currency-card-inner-wapper ul li .post-comment{
    display: flex;
    align-items: center;
    gap: 10px;
}
.digital-currency-card-wapper .digital-currency-card-inner-wapper ul li .post-comment span{
    font-weight: 900;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
}
.digital-currency-card-wapper .digital-currency-card-inner-wapper ul li .post-comment a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-transform: capitalize;
    color: #222222;
}
.digital-currency-card-wapper .digital-currency-card-inner-wapper h3{
    margin: 0;
    padding: 14px 0 8px 0;
    line-height: 0;
}
.digital-currency-card-wapper .digital-currency-card-inner-wapper h3 a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #006BFF;
}
.digital-currency-card-wapper .digital-currency-card-inner-wapper p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #222222;
    margin: 0;
    padding: 0 0 14px 0;
}
.digital-currency-card-wapper .digital-currency-card-inner-wapper .read-more-btn{
    display: flex;
    width: 100%;
    padding-top: 14px;
    border-top: 1px solid rgba(34, 34, 34, 0.4);
}
.digital-currency-card-wapper .digital-currency-card-inner-wapper .read-more-btn a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
}
.digital-currency-card-wapper .digital-currency-card-inner-wapper .read-more-btn a span{
    padding-left: 10px;
}
/* Digital Currency Section end */



/* faq section start */
.faq-section {
    padding: 100px 0;
}

.faq-section .faq-main-wapper {
    max-width: 900px;
    margin: 0 auto;
}

.faq-section .faq-main-wapper .faq-title-wapper h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    color: #006BFF;
    margin: 0;
    padding-bottom: 32px;
}

.faq_accordion_wapper a {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 9px 0;
    width: 100%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #222222;
    cursor: pointer;
}
.faq_accordion_wapper a {
    width: 95% !important;
}
.faq_accordion_wapper .faq_content {
    display: none;
    padding: 4px 0px 0px 0;
    overflow: hidden;
}
.faq_accordion_wapper .faq_content p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #222222;
    margin: 0;
    padding: 0;
}
.faq_accordion_item .faq_menu:after {
    content: '';
    position: absolute;
    right: 18px;
    top: 12px;
    width: 24px;
    height: 24px;
    background: url(../img/Down_Arrow_3_.png) no-repeat;
    background-position: center;
    transition: all 0.5s ease-in-out;
}
.faq_accordion_item.active .faq_menu::after {
    transform: rotate(180deg);
}
.faq_accordion_item {
    padding: 20px 32px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 8px;
    margin-bottom: 12px;
}
.faq_accordion_item .faq_menu {
    position: relative;
}
.faq_accordion_item.active .faq_menu a {
    color: #000000;
}

/* faq section end */



@media(max-width:767px){
    /* zoog vpn section start */
    .zoog-vpn-wapper {
        padding: 50px 0;
    }
    .zoog-vpn-card-wapper {
        margin: 0 5px;
    }
    /* zoog vpn section end */
    /* faq section start */
    .faq-section {
        padding: 50px 0;
    }
    .faq-section .faq-main-wapper .faq-title-wapper h2 {
        font-size: 36px;
        line-height: 46px;
        padding-bottom: 25px;
    }
    .faq_accordion_item {
        padding: 15px 15px;
    }
    .faq_accordion_item .faq_menu::after {
        right: 0;
    }
    .faq_accordion_wapper a {
        font-size: 18px;
        line-height: 26px;
    }
    .faq_accordion_wapper .faq_content p {
        font-size: 18px;
        line-height: 24px;
    }
    /* faq section end */
}