body { margin: 0; padding: 0; box-sizing: border-box; }
a  {
    outline: none;
    text-decoration: none !important;
}

/* Events Single Post Start */


/* Events banner image start */
 .events-single-img{
    width: 100%;
    height: 574px;
    position: relative;
    background-size: cover !important; 
 } 

 .events-single-img::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.20);
    top: 0;
    position: absolute;
    left: 0;
}
/* Events banner image End */



/* Events Luces y colores Start  */

.events-luces-colores { margin: 91px 0 71px 0; }
.events-luces-heading { margin-bottom: 49px;}
.events-luces-heading h1 {
    font-size: 42px;
    letter-spacing: 0px;
    color: #000000;
    font-family: 'Syne', sans-serif;
}
.events-luces-heading p {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #000000;
    margin: 0;
    font-family: 'Syne', sans-serif;
}
.events-luces-center-heading { margin-bottom: 33px;}
.events-luces-center-heading h3{ 
    margin: 0; 
    font-size: 18px;
    letter-spacing: 0px;
    color: #000000;
    font-weight: bold;
    font-family: 'Syne', sans-serif;
}
.event-luces-bottom-text { margin-bottom: 40px; }
.event-luces-bottom-text p{
    font-size: 16px;
    letter-spacing: 0px;
    color: #000000;
    font-family: 'Syne', sans-serif;
}
.event-collaboration-date-loction { margin-top: 43px; }
.event-collaboration-date-loction h3{ 
    font-size: 18px;
    font-family: 'Syne', sans-serif;
    margin-bottom: 35px;
    letter-spacing: 0px;
    font-weight: bold;
    color: #000000;

}
.event-collaboration-date-loction p {
    letter-spacing: 0px;
    color: #000000;
    font-family: 'Syne', sans-serif;
    font-size: 18px;
    padding-right: 68px;
}

.event-share-on  {  margin-top: 38px;  }
.event-share-on h3 {
    font-size: 16px;
    font-family: 'Syne', sans-serif;
    margin-bottom: 35px;
    letter-spacing: 0px;
    font-weight: 600;
    color: #000000;
}

.event-share-on-icon  { display: flex; gap: 8px; }
.event-share-on-icon i {
    border: 1px solid #E6E5E5;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Events Luces y colores End */



/* Events single post btn Start */
.events-single-post-btn { 
    border: 2px solid #E6E5E5 ;
    display: flex;
    flex-direction: row; 
    margin-bottom: 10px;
}
.event-single-btn-prev{
    width: 100%;
    height: 149px;
    border-right:2px solid #E6E5E5 ;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 80px;
}
.event-single-btn-prev  span{ 
    font-size: 18px; 
    text-transform: uppercase;
    color: #8a8787 ;
}
.event-single-btn-center {
    width: 100%;
    height: 149px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right:2px solid #E6E5E5 ;
}
.event-single-btn-center span {   color: #8a8787  }

.event-single-btn-next{
    width: 100%;
    height: 149px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 80px;
}

.event-single-btn-next  span{ 
    font-size: 18px; 
    text-transform: uppercase;
    color: #8a8787 ;
}

/* Events single post btn End */



/* Event Gallery secation start  */
  #gallery{
    -webkit-column-count:3;
    -moz-column-count:3;
    column-count:3;
    column-gap:0px;}

 
  #gallery a img,#gallery  {
    width:100%;
    height:auto;
    padding: 0;
    margin: 0 !important;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
/* Event Gallery secation End  */


/* Events Single Post End */





@media (min-width:1300px) {
    .w-1310{
        max-width: 1310px !important;
    }

}


@media(max-width:991px) {
   /* Events single post btn Start */
   .event-single-btn-prev{  width: 100%;  height: 100px; padding: 0 80px; }
   .event-single-btn-center{ width: 100%;  height: 100px; padding: 0 80px; }
   .event-single-btn-next{ width: 100%;  height: 100px; padding: 0 80px; }
   /* Events single post btn End */


   /* Event Gallery secation start */
   #gallery{
    -webkit-column-count:2;
    -moz-column-count:2;
    column-count:2;}
   /* Event Gallery secation End */
}

@media(max-width:767px) {
    /* Events banner image start */
    .events-single-img { height: 400px;}
    /* Events banner image End*/

    /* Events Luces y colores Start */
    .events-luces-colores { margin: 55px 0 45px 0;}
    .events-luces-heading { margin-bottom: 32px;}
    .events-luces-heading h1 { font-size: 38px;}
    .events-luces-center-heading { margin-bottom: 20px;}
    .event-luces-bottom-text { margin-bottom: 15px;}
    .event-collaboration-date-loction h3 { margin-bottom: 25px;}
    .event-share-on h3 { margin-bottom: 25px;}
    /* Events Luces y colores End */

    /* Events single post btn Start */
    .event-single-btn-prev{  height: 70px;  padding: 0 20px;}
    .event-single-btn-center{ height: 70px;  padding: 0 20px;}
    .event-single-btn-next{ height: 70px;  padding: 0 20px;}
     /* Events single post btn Start */

    /* Event Gallery secation start */
     #gallery{
        -webkit-column-count:1;
        -moz-column-count:1;
        column-count:1;
      }
      /* Event Gallery secation End */
}