
.dnxte_popup_pro_position_center_right { top: 0 !important; transform: unset !important;}
.et_fixed_nav.et_show_nav.et_secondary_nav_enabled #page-container { padding-top: 0 !important;}
.mfp-ajax-holder .mfp-content, .mfp-inline-holder .mfp-content { height: 100%;}